{% liquid
  assign secid = section.id | split:"__" 
  assign secidlast = secid[1] | replace: "-","_"
%}

<div class="index-newsletteroutbox" test03>
  <div class="contain-index">
    <div class="index-newsletter-box">
  {% if section.settings.image  %}
      <div class="index-newsletter-img"><img class="{% if section.settings.imagemb  %}hide-mb{% endif %}"  src="{{ section.settings.image | image_url }}" alt="" /></div>
     {% endif %}
    {% if section.settings.imagemb  %}
      <div class="index-newsletter-img"><img class="hide-pc"  src="{{ section.settings.imagemb | image_url }}"  alt="" /></div>
   {% endif %}
  <div class="index-newsletter-text">
    {%- if section.settings.title != blank -%}
    <div class="index-newsletter-title animate-ele">{{ section.settings.title }}</div>
  {%- endif -%}
    {%- if section.settings.content != blank -%}
    <div class="index-newsletter-content animate-ele">{{ section.settings.content }}</div>
  {%- endif -%}
          {% form 'customer', id: 'newsletter-index' %}
        {% if form.posted_successfully? %}
          <div class="note note--success">{{ 'general.newsletter_form.newsletter_confirmation' | t }}</div>

        {% endif %}
        {% if form.context == 'footer' %}
          {% if form.errors %}
            {{ form.errors | default_errors }}
          {% endif %}
        {% endif %}

        <label for="Email-{{ secidlast }}" class="hidden-label">Enter your email address</label>
        <label for="newsletter-submit-{{ secidlast }}" class="hidden-label">{{ 'general.newsletter_form.submit' | t }}</label>
        <input type="hidden" name="contact[tags]" value="prospect,newsletter">
        <input type="hidden" name="contact[context]" value="footer">
        <div class="footer__newsletter animate-ele">
          <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="Enter your email address" name="contact[email]" id="Email-{{ secidlast }}" class="footer__newsletter-input" autocorrect="off" autocapitalize="off">
          <button type="submit" id="newsletter-submit-{{ secidlast }}" class="newsletteindexbtn" name="commit">
            Submit
          </button>
        </div>
      {% endform %}
   <ul class="no-bullets social-icons index-socialsbox animate-ele">
  {%- if settings.social_instagram_link != blank -%}
    <li>
      <a target="_blank" rel="noopener" href="{{ settings.social_instagram_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Instagram' }}">
       <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M8.40678 1.51433C10.6525 1.51433 10.9163 1.52447 11.8042 1.56452C12.6254 1.60136 13.0691 1.73804 13.366 1.85498C13.76 2.00822 14.0398 2.18868 14.334 2.48235C14.6282 2.77601 14.8113 3.05633 14.9614 3.45037C15.0745 3.74724 15.215 4.19094 15.2518 5.01212C15.2919 5.89952 15.302 6.16329 15.302 8.40954C15.302 10.6558 15.2919 10.919 15.2518 11.807C15.215 12.6281 15.0783 13.0718 14.9614 13.3687C14.8076 13.7628 14.6276 14.0425 14.334 14.3367C14.0403 14.6309 13.76 14.8141 13.366 14.9641C13.0691 15.0773 12.6254 15.2177 11.8042 15.2546C10.9163 15.2946 10.653 15.3048 8.40678 15.3048C6.16052 15.3048 5.89729 15.2946 5.00936 15.2546C4.18871 15.2177 3.74448 15.081 3.44761 14.9641C3.0541 14.8103 2.77325 14.6304 2.47959 14.3367C2.18592 14.0431 2.00225 13.7628 1.85221 13.3687C1.73902 13.0718 1.5986 12.6281 1.56176 11.807C1.52171 10.919 1.51157 10.6558 1.51157 8.40954C1.51157 6.16329 1.52171 5.90006 1.56176 5.01212C1.5986 4.19147 1.73528 3.74724 1.85222 3.45037C2.00545 3.05686 2.18592 2.77601 2.47959 2.48235C2.77325 2.18868 3.05357 2.00501 3.44761 1.85498C3.74448 1.74178 4.18871 1.60136 5.00936 1.56452C5.89676 1.52127 6.16052 1.51433 8.40678 1.51433ZM8.40678 -0.000976562C6.12422 -0.000976562 5.83696 0.00916818 4.93942 0.0492132C4.04508 0.0892582 3.43426 0.232886 2.90033 0.439519C2.34664 0.653092 1.87891 0.943552 1.41172 1.41074C0.944528 1.87794 0.657272 2.34833 0.440495 2.89935C0.233863 3.43328 0.0902347 4.0441 0.0501897 4.94165C0.0101447 5.83598 0 6.12324 0 8.40581C0 10.6884 0.0101447 10.9756 0.0501897 11.8732C0.0902348 12.7675 0.233863 13.3783 0.440495 13.9155C0.654069 14.4697 0.944528 14.9369 1.41172 15.4041C1.87891 15.8713 2.34931 16.1585 2.90033 16.3753C3.43426 16.5819 4.04508 16.7256 4.94262 16.7656C5.84016 16.8056 6.12422 16.8158 8.40999 16.8158C10.6958 16.8158 10.9798 16.8056 11.8774 16.7656C12.7717 16.7256 13.3825 16.5819 13.9196 16.3753C14.4739 16.1617 14.9411 15.8713 15.4083 15.4041C15.8754 14.9369 16.1627 14.4665 16.3795 13.9155C16.5861 13.3815 16.7297 12.7707 16.7698 11.8732C16.8098 10.9756 16.82 10.6921 16.82 8.40581C16.82 6.1195 16.8098 5.83598 16.7698 4.93844C16.7297 4.0441 16.5861 3.43328 16.3795 2.89615C16.1659 2.34192 15.8754 1.87473 15.4083 1.40754C14.9411 0.940348 14.4707 0.653092 13.9196 0.436315C13.3857 0.229683 12.7749 0.0860546 11.8774 0.0460096C10.9761 0.00916817 10.6893 -0.000976562 8.40678 -0.000976562Z" fill="currentColor"/>
<path d="M8.40665 4.08661C8.12513 4.08974 7.84659 4.12011 7.57101 4.17772C7.29544 4.23533 7.02805 4.31909 6.76886 4.42899C6.50966 4.5389 6.26357 4.67286 6.03058 4.8309C5.79758 4.98893 5.5821 5.16804 5.38414 5.36822C5.18618 5.5684 5.00948 5.78585 4.85404 6.02059C4.69861 6.25533 4.56739 6.5029 4.46037 6.7633C4.35336 7.0237 4.27258 7.292 4.21804 7.5682C4.1635 7.8444 4.13623 8.12326 4.13623 8.4048C4.13623 8.68633 4.1635 8.9652 4.21804 9.24139C4.27258 9.51759 4.35336 9.78589 4.46037 10.0463C4.56739 10.3067 4.69861 10.5543 4.85404 10.789C5.00948 11.0237 5.18618 11.2412 5.38414 11.4414C5.5821 11.6416 5.79758 11.8207 6.03058 11.9787C6.26357 12.1367 6.50966 12.2707 6.76886 12.3806C7.02805 12.4905 7.29544 12.5743 7.57101 12.6319C7.84659 12.6895 8.12513 12.7199 8.40665 12.723C10.7896 12.723 12.7246 10.7875 12.7246 8.40453C12.7246 6.02158 10.7891 4.08608 8.40612 4.08608L8.40665 4.08661ZM8.40665 11.2082C8.03493 11.2082 7.67735 11.1371 7.33393 10.9948C6.9905 10.8526 6.68737 10.65 6.42452 10.3872C6.16168 10.1243 5.95913 9.82121 5.81688 9.47778C5.67462 9.13436 5.6035 8.77678 5.6035 8.40506C5.6035 8.03334 5.67462 7.67577 5.81688 7.33234C5.95913 6.98892 6.16168 6.68578 6.42452 6.42294C6.68737 6.16009 6.9905 5.95754 7.33393 5.81529C7.67735 5.67304 8.03493 5.60191 8.40665 5.60191C8.77837 5.60191 9.13594 5.67304 9.47937 5.81529C9.82279 5.95754 10.1259 6.16009 10.3888 6.42294C10.6516 6.68578 10.8542 6.98892 10.9964 7.33234C11.1387 7.67577 11.2098 8.03334 11.2098 8.40506C11.2098 8.77678 11.1387 9.13436 10.9964 9.47778C10.8542 9.82121 10.6516 10.1243 10.3888 10.3872C10.1259 10.65 9.82279 10.8526 9.47937 10.9948C9.13594 11.1371 8.77837 11.2082 8.40665 11.2082ZM13.903 3.91682C13.9031 4.19504 13.8049 4.43257 13.6082 4.62941C13.4116 4.82625 13.1742 4.92474 12.896 4.92489C12.6177 4.92503 12.3802 4.82679 12.1834 4.63016C11.9865 4.43353 11.888 4.19611 11.8879 3.91789C11.8878 3.63978 11.9861 3.40236 12.1826 3.20561C12.3792 3.00886 12.6165 2.91038 12.8946 2.91016C13.1727 2.90994 13.4102 3.00804 13.6071 3.20448C13.8039 3.40091 13.9026 3.63871 13.903 3.91682Z" fill="currentColor"/>
</svg>
        <span class="icon__fallback-text">Instagram</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_facebook_link != blank -%}
    <li>
      <a target="_blank" rel="noopener" href="{{ settings.social_facebook_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Facebook' }}">
        <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M16.8239 8.40901C16.8239 12.6067 13.7484 16.0861 9.72784 16.717V10.8406H11.6875L12.0601 8.40901H9.72784V6.83133C9.72784 6.16666 10.0531 5.51738 11.0986 5.51738H12.1594V3.4477C12.1594 3.4477 11.1967 3.28331 10.2766 3.28331C8.35594 3.28331 7.09994 4.44706 7.09994 6.55576V8.40901H4.96404V10.8406H7.09994V16.717C3.07935 16.0861 0.00390625 12.6067 0.00390625 8.40901C0.00390625 3.7643 3.76919 -0.000976562 8.41389 -0.000976562C13.0586 -0.000976562 16.8239 3.7643 16.8239 8.40901Z" fill="currentColor"/>
</svg>
        <span class="icon__fallback-text">Facebook</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_youtube_link != blank -%}
    <li>
      <a target="_blank" rel="noopener" href="{{ settings.social_youtube_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'YouTube' }}">
        <svg width="17" height="15" viewBox="0 0 17 15" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M0.00781363 12.4766C0.00781363 13.1634 0.229632 13.7475 0.67327 14.2289C1.11691 14.7103 1.65698 14.9507 2.29347 14.9501H14.5421C15.1786 14.9501 15.7187 14.7097 16.1623 14.2289C16.606 13.7481 16.8278 13.164 16.8278 12.4766V2.51363C16.8278 1.82676 16.6038 1.23594 16.1558 0.741175C15.7078 0.246407 15.1699 -0.000976562 14.5421 -0.000976562H2.29347C1.66626 -0.000976562 1.12838 0.246407 0.679826 0.741175C0.231271 1.23594 0.00726709 1.82676 0.0078135 2.51363L0.00781363 12.4766ZM6.12558 10.6765V4.31372C6.12558 4.2495 6.14361 4.19924 6.17967 4.16295C6.20644 4.15401 6.22884 4.14954 6.24687 4.14954L6.31407 4.16295L12.1762 7.35102C12.2122 7.38787 12.2302 7.43366 12.2302 7.48839C12.2302 7.52524 12.2122 7.56182 12.1762 7.59812L6.31407 10.7862C6.29605 10.8046 6.27802 10.8138 6.25999 10.8138C6.22393 10.8138 6.19716 10.8046 6.17967 10.7862C6.14361 10.7493 6.12558 10.7128 6.12558 10.6765Z" fill="currentColor"/>
</svg>
        <span class="icon__fallback-text">YouTube</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_twitter_link != blank -%}
    <li>
      <a target="_blank" rel="noopener" href="{{ settings.social_twitter_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Twitter' }}">
        <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M0.0806531 -0.000976562L6.62941 8.75368L0.0117188 15.8539H1.45934L7.18089 9.64983L11.7995 15.8539H16.8317L9.93826 6.61672L16.1424 -0.000976562H14.6947L9.38679 5.72057L5.11286 -0.000976562H0.0806531ZM2.21762 1.10197H4.56138L14.7637 14.751H12.4199L2.21762 1.10197Z" fill="currentColor"/>
</svg>
        <span class="icon__fallback-text">Twitter</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_pinterest_link != blank -%}
    <li>
      <a target="_blank" rel="noopener" href="{{ settings.social_pinterest_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Pinterest' }}">
        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-pinterest" viewBox="0 0 256 256"><path d="M0 128.002c0 52.414 31.518 97.442 76.619 117.239-.36-8.938-.064-19.668 2.228-29.393 2.461-10.391 16.47-69.748 16.47-69.748s-4.089-8.173-4.089-20.252c0-18.969 10.994-33.136 24.686-33.136 11.643 0 17.268 8.745 17.268 19.217 0 11.704-7.465 29.211-11.304 45.426-3.207 13.578 6.808 24.653 20.203 24.653 24.252 0 40.586-31.149 40.586-68.055 0-28.054-18.895-49.052-53.262-49.052-38.828 0-63.017 28.956-63.017 61.3 0 11.152 3.288 19.016 8.438 25.106 2.368 2.797 2.697 3.922 1.84 7.134-.614 2.355-2.024 8.025-2.608 10.272-.852 3.242-3.479 4.401-6.409 3.204-17.884-7.301-26.213-26.886-26.213-48.902 0-36.361 30.666-79.961 91.482-79.961 48.87 0 81.035 35.364 81.035 73.325 0 50.213-27.916 87.726-69.066 87.726-13.819 0-26.818-7.47-31.271-15.955 0 0-7.431 29.492-9.005 35.187-2.714 9.869-8.026 19.733-12.883 27.421a127.897 127.897 0 0 0 36.277 5.249c70.684 0 127.996-57.309 127.996-128.005C256.001 57.309 198.689 0 128.005 0 57.314 0 0 57.309 0 128.002z"/></svg>
        <span class="icon__fallback-text">Pinterest</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_snapchat_link != blank -%}
    <li>
      <a target="_blank" rel="noopener" href="{{ settings.social_snapchat_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Snapchat' }}">
        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-snapchat" viewBox="0 0 56.693 56.693"><path d="M28.66 51.683c-.128 0-.254-.004-.38-.01a3.24 3.24 0 0 1-.248.01c-2.944 0-4.834-1.336-6.661-2.628-1.262-.892-2.453-1.733-3.856-1.967a12.448 12.448 0 0 0-2.024-.17c-1.186 0-2.122.182-2.806.316-.415.081-.773.151-1.045.151-.285 0-.593-.061-.727-.519-.116-.397-.2-.78-.281-1.152-.209-.956-.357-1.544-.758-1.605-4.67-.722-6.006-1.705-6.304-2.403a.898.898 0 0 1-.072-.299.526.526 0 0 1 .44-.548c7.178-1.182 10.397-8.519 10.53-8.83l.012-.026c.44-.89.526-1.663.257-2.297-.493-1.16-2.1-1.67-3.163-2.008-.26-.082-.507-.16-.701-.237-2.123-.84-2.3-1.7-2.216-2.14.142-.747 1.142-1.268 1.95-1.268.222 0 .417.039.581.116.955.447 1.815.673 2.558.673 1.025 0 1.473-.43 1.528-.487-.026-.486-.059-.993-.092-1.517-.213-3.394-.478-7.61.595-10.018 3.218-7.215 10.043-7.776 12.057-7.776l.884-.009h.119c2.02 0 8.858.562 12.078 7.78 1.074 2.41.808 6.63.594 10.021l-.009.147c-.03.473-.058.932-.082 1.371.051.052.463.449 1.393.485h.001c.707-.028 1.52-.253 2.41-.67.262-.122.552-.148.75-.148.3 0 .607.058.86.164l.016.007c.721.255 1.193.76 1.204 1.289.009.497-.37 1.244-2.233 1.98-.193.076-.44.154-.7.237-1.065.338-2.671.848-3.164 2.008-.269.633-.183 1.406.257 2.297l.011.026c.134.311 3.35 7.646 10.532 8.83.265.043.454.28.44.548a.884.884 0 0 1-.074.3c-.296.693-1.632 1.675-6.303 2.397-.381.059-.53.556-.757 1.599-.083.38-.167.752-.282 1.144-.1.34-.312.5-.668.5h-.058c-.248 0-.6-.045-1.046-.133-.79-.154-1.677-.297-2.805-.297-.659 0-1.34.058-2.026.171-1.401.234-2.591 1.074-3.85 1.964-1.831 1.295-3.72 2.63-6.666 2.63z"/></svg>
        <span class="icon__fallback-text">Snapchat</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_tiktok_link != blank -%}
    <li>
      <a target="_blank" rel="noopener" href="{{ settings.social_tiktok_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'TikTok' }}">
        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-tiktok" viewBox="0 0 2859 3333"><path d="M2081 0c55 473 319 755 778 785v532c-266 26-499-61-770-225v995c0 1264-1378 1659-1932 753-356-583-138-1606 1004-1647v561c-87 14-180 36-265 65-254 86-398 247-358 531 77 544 1075 705 992-358V1h551z"/></svg>
        <span class="icon__fallback-text">TikTok</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_tumblr_link != blank -%}
    <li>
      <a target="_blank" rel="noopener" href="{{ settings.social_tumblr_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Tumblr' }}">
        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-tumblr" viewBox="0 0 32 32"><path fill="#444" d="M6.997 13.822h3.022v10.237q0 1.852.414 3.047.463 1.097 1.438 1.95.951.877 2.511 1.438 1.487.512 3.388.512 1.657 0 3.096-.366 1.243-.244 3.242-1.194v-4.582q-2.023 1.389-4.192 1.389-1.072 0-2.145-.561-.634-.414-.951-1.146-.244-.804-.244-3.242v-7.483h6.581V9.239h-6.581V1.902h-3.949q-.195 2.072-.951 3.681-.756 1.56-1.901 2.486Q8.581 9.19 6.996 9.678v4.144z"/></svg>
        <span class="icon__fallback-text">Tumblr</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_linkedin_link != blank -%}
    <li>
      <a target="_blank" rel="noopener" href="{{ settings.social_linkedin_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'LinkedIn' }}">
        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-linkedin" viewBox="0 0 24 24"><path d="M4.98 3.5C4.98 4.881 3.87 6 2.5 6S.02 4.881.02 3.5C.02 2.12 1.13 1 2.5 1s2.48 1.12 2.48 2.5zM5 8H0v16h5V8zm7.982 0H8.014v16h4.969v-8.399c0-4.67 6.029-5.052 6.029 0V24H24V13.869c0-7.88-8.922-7.593-11.018-3.714V8z"/></svg>
        <span class="icon__fallback-text">LinkedIn</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_vimeo_link != blank -%}
    <li>
      <a target="_blank" rel="noopener" href="{{ settings.social_vimeo_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Vimeo' }}">
        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-vimeo" viewBox="0 0 32 32"><path fill="#444" d="M.343 10.902l1.438 1.926q1.999-1.487 2.413-1.487 1.584 0 2.949 5.046l1.194 4.521q.828 3.132 1.292 4.814 1.804 5.046 4.534 5.046 4.339 0 10.53-8.336 6.069-7.922 6.288-12.528v-.536q0-5.606-4.485-5.752h-.341q-6.02 0-8.287 7.385 1.316-.561 2.291-.561 2.072 0 2.072 2.145 0 .268-.024.561-.146 1.731-2.047 4.729-1.95 3.144-2.901 3.144-1.267 0-2.242-4.777-.293-1.121-1.243-7.239-.414-2.632-1.536-3.9-.975-1.097-2.437-1.121-.195 0-.414.024-1.536.146-4.558 2.803-1.56 1.462-4.485 4.095z"/></svg>
        <span class="icon__fallback-text">Vimeo</span>
      </a>
    </li>
  {%- endif -%}
</ul>

  </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Index Newsletter",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "image"
        },{
        "type": "image_picker",
        "id": "imagemb",
        "label": "image(mobile)"
        },{
        "type": "text",
        "id": "title",
        "label": "title"
      },{
        "type": "richtext",
        "id": "content",
        "label": "content"
      }
    ],

	"presets": [
      {
        "name": "Index Newsletter","category": "Ho-Advance"
      }
    ]
  }
{% endschema %}
