{% liquid
  assign secid = section.id | split:"__" 
  assign secidlast = secid[1] | replace: "-","_"
%}

<div class="index-iconoveroutbox" style="color:{{ section.settings.textcolor }}">
  {% if section.settings.image  %}
      <div class="index-iconover-img"><img class="{% if section.settings.imagemb  %}hide-mb{% endif %}"  src="{{ section.settings.image | img_url:'master' }}" alt="" /></div>
     {% endif %}
    {% if section.settings.imagemb  %}
      <div class="index-iconover-img"><img class="hide-pc"  src="{{ section.settings.imagemb | img_url:'master' }}"  alt="" /></div>
   {% endif %}
  <div class="index-iconover-text01">
   {%- if section.settings.toptitle != blank -%}
    <div class="index-iconover-toptitle animate-ele">{{ section.settings.toptitle }}</div>
  {%- endif -%}
    {%- if section.settings.title != blank -%}
    <div class="index-iconover-title animate-ele">{{ section.settings.title }}</div>
  {%- endif -%}
    {%- if section.settings.content != blank -%}
    <div class="index-iconover-content animate-ele">{{ section.settings.content }}</div>
  {%- endif -%}
  </div>


  {%- if section.blocks.size > 0 -%} 
      <div class="index-iconover-text02 animate-ele">
        {%- for block in section.blocks -%}
         <div class="index-icotext02item">
           {% if block.settings.icon %}<span><img alt src="{{ block.settings.icon | img_url:'master' }}"/></span>{% endif %}
           {%- if block.settings.title != blank -%}<div class="index-icotext02item-title">{{ block.settings.title }}</div>{%- endif -%}
         </div> 
        {%- endfor -%}
        </div>
  {%- endif -%}

  
</div>

{% schema %}
  {
    "name": "Index IconOverBanner",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "image"
        },{
        "type": "image_picker",
        "id": "imagemb",
        "label": "image(mobile)"
        },{
        "type": "text",
        "id": "toptitle",
        "label": "toptitle"
      },{
        "type": "text",
        "id": "title",
        "label": "title"
      },{
        "type": "richtext",
        "id": "content",
        "label": "content"
      },{
        "type": "color",
        "id": "textcolor",
        "label": "text color",
        "default": "#ffffff"
      }
    ],
    "blocks": [
      {
        "type": "block",
        "name": "block",
        "settings": [
         {
            "type": "image_picker",
            "id": "icon",
            "label": "icon"
          },{
            "type": "text",
            "id": "title",
            "label": "title"
          }
        ]
      }
    ],
	"presets": [
      {
        "name": "Index IconOverBanner","category": "Ho-Advance"
      }
    ]
  }
{% endschema %}
