{% liquid
  assign secid = section.id | split:"__" 
  assign secidlast = secid[1] | replace: "-","_"
%}
  <div class="contain-index">
<div class="simcdopera-outbox">
    {% if section.settings.title != blank %}
    <div class="simcdopera-title animate-ele">{{ section.settings.title }}</div>
   {% endif %}


  <div class="simcdopera_elebox animate-ele">
      {% for block in section.blocks %}
         <div class="simcdopera_item">
       {% if block.settings.image  %}
      <div class="simcdopera-img"><img class="{% if block.settings.imagemb  %}hide-mb{% endif %}"  src="{{ block.settings.image | img_url:'master' }}" alt=" " /></div>
     {% endif %}
    {% if block.settings.imagemb  %}
     <div class="simcdopera-img"><img class="hide-pc"  src="{{ block.settings.imagemb | img_url:'master' }}"  alt=" " /></div>
    {% endif %}
       <div class="simcdopera-itemtext">
           {% if block.settings.title != blank %}
            <div class="simcdopera-itemtitle">{{ block.settings.title }}</div>
           {% endif %}
         {% if block.settings.content != blank %}
            <div class="simcdopera-itemcon">{{ block.settings.content }}</div>
           {% endif %}
       </div>

      </div>  
      {% endfor %}
  </div>
  
</div>
  </div>



{% schema %}
  {
   "name": "Card Operate",
  "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "title"
      }
    ],
    "blocks": [
      {
        "type": "block",
        "name": "block",
        "settings": [
       {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },{
        "type": "image_picker",
        "id": "imagemb",
        "label": "Image(mobile)"
      },{
        "type": "text",
        "id": "title",
        "label": "title"
      },{
        "type": "richtext",
        "id": "content",
        "label": "content"
      }
        ]
      }
    ],
    "presets": [
      {
        "name": "Card Operate",
        "category": "HO-layout"
      }
    ]
  }
{% endschema %}
