{{ 'section-reward-how-work.css' | asset_url | stylesheet_tag }}

<div class="reward-program-threebar">
  <div class="contain-index">
    {% if section.settings.section_title != blank %}
      <div class="common-title">{{ section.settings.section_title }}</div>
    {% endif %}

    {% if section.blocks.size > 0 %}
      <div class="reward-program-threebar-boxs">
        {% for block in section.blocks %}
          {% if block.settings.pc_bg_image != blank or block.settings.mb_bg_image %}
            <style>
              {% if block.settings.pc_bg_image != blank %}
              @media only screen and (min-width: 791px) {
                .reward-program-threebar .reward-program-threebar-item-{{ forloop.index }} {
                  background: url({{block.settings.pc_bg_image | img_url:'master'}}) 50% 0% no-repeat;
                  background-size: contain;
                  background-color: {{ block.settings.bg_color }};
                }
              }
              {% endif %}
              {% if block.settings.mb_bg_image != blank %}
              @media only screen and (max-width: 790px) {
                .reward-program-threebar .reward-program-threebar-item-{{ forloop.index }} {
                  background: url({{block.settings.mb_bg_image | img_url:'master'}}) 95% 100% no-repeat;
                  background-size: contain;
                  background-color: {{ block.settings.bg_color }};
                }
              }
              {% endif %}
            </style>
          {% endif %}
          <div class="reward-program-threebar-item reward-program-threebar-item-{{ forloop.index }}">
            <div class="reward-program-threebartopimg">
              {% if forloop.index == 1 %}
                <svg xmlns="http://www.w3.org/2000/svg" width="91" height="91" viewBox="0 0 91 91" fill="none">
                  <mask id="mask0_2710_15855" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="91" height="91">
                    <rect width="90.9801" height="90.9801" fill="#C4C4C4"/>
                  </mask>
                  <g mask="url(#mask0_2710_15855)">
                    <path d="M54.7263 26.5254C58.7729 25.8725 63.0372 26.5335 66.6002 28.593C71.9204 31.5635 75.5479 37.3997 75.6648 43.518C75.8381 47.4357 74.6531 51.3936 72.3678 54.5777C69.5747 58.5317 65.0928 61.2845 60.2803 61.881C54.9359 62.6791 49.2408 60.8855 45.3916 57.0726C40.9138 52.8769 38.9146 46.2547 40.3092 40.2815C41.7763 33.337 47.7253 27.6741 54.7263 26.5254ZM55.1173 29.7417C49.4987 30.7615 44.7306 35.3038 43.5013 40.8901C42.0383 46.682 44.7186 53.159 49.6962 56.3995C53.8275 59.2048 59.4259 59.6159 63.94 57.4878C68.9661 55.1984 72.4928 49.8701 72.4484 44.3201C72.5935 38.7499 69.1676 33.3047 64.1214 30.959C61.3565 29.5725 58.1482 29.2218 55.1173 29.7417Z" fill="#07C160"/>
                    <path d="M55.2684 35.4449C56.7436 35.0137 55.7239 32.7203 57.3724 32.4543C58.9523 32.0311 59.6375 33.7602 59.4924 35.0419C61.6729 35.8117 63.2287 38.2179 62.6684 40.5234C62.08 41.7889 60.1897 41.6277 59.6173 40.4266C59.6899 39.286 59.1014 37.8592 57.719 38.0486C56.3365 37.8834 55.3934 39.7979 56.4212 40.7571C58.4324 42.6958 61.6971 43.2157 62.9989 45.9081C64.4137 48.7899 62.4548 52.3731 59.5166 53.3122C59.4763 54.4125 59.2304 56.1617 57.719 55.928C56.3849 56.0207 56.0947 54.4971 56.1511 53.4734C53.894 52.4456 51.8385 50.2651 52.1972 47.609C52.1811 46.7787 53.0718 46.5127 53.6401 46.1419C54.0955 46.3273 54.555 46.5046 55.0185 46.686C55.345 48.0644 55.5949 50.0596 57.3522 50.2651C58.8999 50.6359 60.0043 49.2575 60.3831 47.9314C59.2868 45.5413 56.3164 45.1988 54.5349 43.4818C51.9231 41.5028 52.2939 36.8838 55.2684 35.4449Z" fill="#07C160"/>
                    <path d="M15.4864 16.1025C15.4703 15.1151 16.4699 14.4218 17.4049 14.579C27.8923 14.5992 38.3797 14.5589 48.8711 14.5992C53.6715 14.7805 57.8954 18.4564 59.1127 23.0431C57.9922 23.031 56.8677 23.0552 55.7472 23.1035C54.5662 20.1693 51.7167 17.8437 48.4802 17.8115C38.5571 17.7954 28.6299 17.8155 18.7068 17.8034C18.6786 35.5377 18.7149 53.2759 18.6867 71.0102C19.7346 70.1758 20.6414 68.4588 22.2013 68.9183C23.6563 69.9622 24.8251 71.3487 26.1512 72.5458C27.3563 71.4454 28.4687 70.2444 29.7101 69.1843C30.23 68.6644 31.149 68.6926 31.6689 69.2045C32.9063 70.2524 34.0187 71.4374 35.1795 72.5659C36.3645 71.4616 37.4688 70.2685 38.7022 69.2166C39.2221 68.7531 40.0846 68.6362 40.6247 69.144C41.9064 70.1879 43.0269 71.4213 44.2441 72.5417C45.4654 71.4172 46.5858 70.1758 47.8716 69.1239C48.3996 68.6644 49.254 68.7249 49.7498 69.2005C50.9871 70.2524 52.0875 71.4535 53.2805 72.5579C54.2398 71.6188 55.2071 70.6837 56.1744 69.7486C56.1664 68.2533 56.1663 66.758 56.1784 65.2626C57.2506 65.303 58.3267 65.3352 59.4028 65.3312C59.3464 67.1892 59.4714 69.0513 59.3464 70.9094C58.4718 72.4007 56.9402 73.368 55.7835 74.6336C54.8806 75.4034 53.9093 76.9431 52.5389 76.2176C51.1685 75.1737 50.0319 73.8557 48.7663 72.6949C47.6176 73.7428 46.5536 74.8794 45.3928 75.9153C44.8003 76.5884 43.6597 76.5561 43.0712 75.8911C41.9145 74.8674 40.8544 73.7388 39.7178 72.6949C38.5288 73.8033 37.4205 75.0004 36.1791 76.0523C35.6188 76.5723 34.6676 76.5158 34.1356 75.9838C32.9466 74.9238 31.8342 73.7791 30.6855 72.6788C29.5368 73.7469 28.4526 74.8835 27.2837 75.9274C26.7638 76.4876 25.8126 76.5964 25.2201 76.0886C23.9384 75.0366 22.822 73.7993 21.6007 72.6788C20.3311 73.8758 19.1743 75.214 17.7717 76.2538C16.6754 76.8423 15.293 75.8024 15.4824 74.5973C15.4824 55.0977 15.4663 35.5981 15.4864 16.1025Z" fill="#07C160"/>
                    <path d="M24.3031 30.9711C23.7227 29.9353 24.682 28.5206 25.8629 28.6979C31.691 28.6697 37.5191 28.714 43.3473 28.6858C42.3477 29.7297 41.3844 30.8059 40.4775 31.9304C35.7417 31.9022 31.0058 31.9264 26.27 31.9223C25.5163 31.9667 24.6094 31.749 24.3031 30.9711Z" fill="#07C160"/>
                    <path d="M25.2727 37.7987C27.7998 37.6334 30.3632 37.6858 32.8944 37.7664C34.5268 37.9639 34.5671 40.6402 32.9387 40.878C30.464 40.9828 27.9772 40.9344 25.4984 40.9022C23.858 40.7893 23.6887 38.1735 25.2727 37.7987Z" fill="#07C160"/>
                    <path d="M25.4565 49.9668C23.7596 49.7572 23.7314 46.9439 25.4766 46.827C29.2452 46.7424 33.0177 46.8311 36.7862 46.7948C36.9636 47.875 37.1853 48.9511 37.4311 50.0192C33.4369 49.9789 29.4427 50.0958 25.4565 49.9668Z" fill="#07C160"/>
                    <path d="M24.8097 56.1175C24.979 56.0489 25.3176 55.9119 25.4868 55.8474C27.8931 55.7587 30.3114 55.7708 32.7176 55.8353C34.4789 55.8353 34.6442 58.7292 32.9352 58.967C30.4323 59.0557 27.9172 59.0436 25.4143 58.9751C24.0963 58.8098 23.6651 56.8228 24.8097 56.1175Z" fill="#07C160"/>
                    <path d="M37.6795 56.5448C38.1672 55.7024 39.2312 55.8394 40.0535 55.7346C40.8475 56.8994 41.7543 57.9836 42.7055 59.0235C41.4117 58.9993 40.1139 59.0558 38.8242 58.9953C37.6876 58.959 37.0185 57.4476 37.6795 56.5448Z" fill="#07C160"/>
                  </g>
                </svg>
              {% elsif forloop.index == 2 %}
                <svg xmlns="http://www.w3.org/2000/svg" width="91" height="91" viewBox="0 0 91 91" fill="none">
                  <mask id="mask0_2710_15839" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="91" height="91">
                    <rect width="90.9801" height="90.9801" fill="#C4C4C4"/>
                  </mask>
                  <g mask="url(#mask0_2710_15839)">
                    <path d="M51.7576 7.5702C55.3677 6.32799 59.7136 9.21678 59.5497 13.1219C59.863 16.3276 56.9487 19.3804 53.743 19.2601C50.5701 19.5224 47.572 16.6883 47.6412 13.5117C47.4044 10.8743 49.2878 8.36435 51.7576 7.5702ZM52.4607 10.4153C50.1511 11.2313 49.8561 14.8122 52.0199 15.9597C54.0381 17.2201 56.9524 15.5153 56.7046 13.1219C56.6172 11.0637 54.3623 9.67213 52.4607 10.4153Z" fill="#07C160"/>
                    <path d="M38.2338 16.6446C40.1718 16.222 42.3903 16.4552 43.8875 17.8686C46.4739 19.9742 46.6597 24.3019 44.259 26.6188C42.689 28.3236 40.1499 28.7498 37.9824 28.1305C36.048 27.4275 34.4743 25.7445 34.07 23.7045C33.3341 20.7355 35.283 17.4351 38.2338 16.6446ZM38.9478 19.497C36.8203 20.1345 36.1027 23.1908 37.8367 24.6407C39.527 26.4913 43.046 25.107 43.0278 22.5934C43.2208 20.466 40.9404 18.7939 38.9478 19.497Z" fill="#07C160"/>
                    <path d="M51.3403 25.7408C54.5934 25.1069 58.1306 25.8901 60.6041 28.1523C64.5712 31.4928 65.3326 37.8569 62.3236 42.0644C59.7408 45.9696 54.4331 47.6161 50.0581 46.0315C45.927 44.6254 42.969 40.4215 43.0164 36.061C42.9545 31.2306 46.6192 26.7171 51.3403 25.7408ZM51.4168 28.7388C47.6465 29.8062 45.1147 34.0829 46.1784 37.8824C46.9616 41.2484 50.2548 43.9041 53.7483 43.6782C57.6498 43.7838 61.1724 40.2867 61.2416 36.4143C61.4311 33.4381 59.6351 30.4911 56.9576 29.2161C55.271 28.3236 53.2346 28.2981 51.4168 28.7388Z" fill="#07C160"/>
                    <path d="M31.4845 44.5378C34.202 42.4286 37.3713 40.9824 40.6645 40.0316C41.0069 40.9533 41.3894 41.8676 41.8484 42.7419C38.5844 43.6198 35.4406 45.0588 32.8214 47.2226C31.9435 48.0568 30.4281 48.0131 29.6922 47.015C28.7815 45.831 27.5684 44.9495 26.2023 44.3557C26.2606 45.9695 26.7196 47.5723 26.5411 49.1898C25.991 50.5376 24.3445 50.9347 23.594 52.1587C22.5194 53.8198 20.8837 55.3389 18.8 55.4191C18.1152 55.5611 17.2372 55.2588 16.709 55.8234C16.5123 57.0037 16.4759 58.3916 17.3247 59.3461C20.6688 63.386 25.186 66.3549 30.0674 68.2164C31.4444 68.6608 32.5446 69.9286 32.6174 71.4039C32.7595 74.0632 32.5518 76.7371 32.7048 79.3964C32.836 80.0484 33.6228 79.8918 34.1 79.8408C35.9943 79.5785 37.6919 78.2598 38.4132 76.4857C39.0143 75.1196 38.7374 73.5896 38.9268 72.1507C39.1381 71.3748 39.8485 70.7992 40.6281 70.6499C45.6151 70.7264 50.6823 71.138 55.6184 70.1471C57.5819 69.6772 59.7057 71.189 59.917 73.1926C60.1137 75.2399 59.866 77.309 60.0263 79.3599C60.1028 80.0302 60.9516 79.8991 61.4179 79.8408C63.8039 79.5239 65.8476 77.4839 66.0953 75.0796C66.3284 72.9048 65.9933 70.7081 66.2738 68.537C66.5871 66.6354 68.2227 65.3713 68.9149 63.6301C70.3028 60.4462 71.3228 56.7851 70.2591 53.3535C69.1844 49.8965 66.4377 47.2554 63.4251 45.4048C64.048 44.6435 64.6345 43.8603 65.2064 43.0588C66.8239 44.1043 68.3466 45.2992 69.6762 46.6981C71.6907 45.128 75.1077 46.3338 75.2498 49.0113C75.6651 48.279 76.5357 47.5869 77.3882 48.086C78.7615 48.7563 78.2515 50.7416 77.2789 51.554C75.9383 52.9055 73.3409 52.3991 72.6707 50.5995C72.3719 49.9147 72.5286 48.7781 71.4794 48.8036C72.412 50.9238 73.534 53.0366 73.5887 55.4118C73.7344 59.8852 72.3137 64.4206 69.6471 68.0161C68.944 68.8612 69.097 70.0087 69.0788 71.0287C69.0606 73.1889 69.301 75.4329 68.4923 77.4948C67.261 80.7624 63.7857 83.021 60.2959 82.7733C58.6129 82.6494 57.1156 81.1559 57.0829 79.4546C56.9809 77.5021 57.1411 75.5495 57.0355 73.6006C56.9335 73.4476 56.7295 73.1416 56.6311 72.9886C51.7388 73.9139 46.7481 73.688 41.7974 73.6224C41.812 75.7972 41.2947 78.0521 39.8521 79.7388C38.2056 81.746 35.5863 82.9445 32.9853 82.7733C31.4918 82.664 30.1548 81.491 29.827 80.0375C29.4955 77.1196 30.0601 74.1033 29.5501 71.2291C24.8763 69.3311 20.3847 66.7957 16.822 63.1711C15.5178 61.7904 13.9987 60.3369 13.7692 58.3443C13.5106 56.6576 13.5179 54.5739 14.9933 53.4228C16.0205 52.4793 17.4704 52.5995 18.7563 52.4902C19.8164 52.3918 20.4648 51.4593 21.044 50.6724C21.7544 49.6597 22.6979 48.8473 23.6669 48.0896C23.503 46.505 23.2334 44.924 23.2006 43.3284C23.1824 42.1117 24.4465 41.1609 25.6158 41.3358C27.8963 41.6199 29.9363 42.884 31.4845 44.5378Z" fill="#07C160"/>
                    <path d="M42.508 50.6362C43.0654 50.3849 43.6993 50.4905 44.2967 50.4541C48.1763 50.5087 52.0596 50.3958 55.9393 50.5087C57.4037 50.7528 57.3928 53.0806 55.9466 53.3356C51.699 53.4157 47.4478 53.3575 43.2002 53.3647C41.7139 53.5032 41.2075 51.23 42.508 50.6362Z" fill="#07C160"/>
                    <path d="M25.4548 52.25C26.7553 51.8384 28.1251 53.1971 27.7098 54.5013C27.4001 55.9184 25.3346 56.33 24.4968 55.1461C23.6735 54.1698 24.2418 52.5706 25.4548 52.25Z" fill="#07C160"/>
                  </g>
                </svg>
              {% else %}
                <svg xmlns="http://www.w3.org/2000/svg" width="91" height="91" viewBox="0 0 91 91" fill="none">
                  <mask id="mask0_2710_15826" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="91" height="91">
                    <rect width="90.9801" height="90.9801" fill="#C4C4C4"/>
                  </mask>
                  <g mask="url(#mask0_2710_15826)">
                    <path d="M35.0669 15.9308C38.8084 14.6997 43.2454 15.9548 45.5118 19.2486C47.2667 16.9142 50.0927 15.3032 53.0707 15.5111C57.3678 15.3112 61.2972 18.8369 61.9088 23.03C62.3764 25.6163 61.525 28.2745 59.9381 30.3251C58.1513 30.3691 56.3725 30.3091 54.5897 30.2651C56.4405 29.4097 58.1873 27.9667 58.635 25.8801C59.6423 22.4624 56.7003 18.5171 53.0907 18.7009C50.1687 18.4451 47.3866 20.9394 47.2187 23.8375C47.1068 25.988 47.2147 28.1426 47.1987 30.2971C47.2027 31.3644 47.1987 32.4317 47.1947 33.4989C47.1747 35.8454 47.1787 38.1918 47.1947 40.5382C47.1987 41.6055 47.2067 42.6727 47.1987 43.736C47.1787 52.4541 47.1707 61.1722 47.2027 69.8903C47.2147 70.9616 47.2267 72.0329 47.1427 73.1001C47.0348 73.4839 46.9149 73.8636 46.787 74.2394C46.3393 74.4273 45.8916 74.6231 45.4559 74.823C44.7004 74.5152 43.845 74.0755 44.0288 73.1121C43.9889 72.0409 43.9609 70.9736 43.9249 69.9023C44.0688 64.0103 43.9489 58.1103 43.9889 52.2143C43.9489 49.3842 44.0848 46.5501 43.8929 43.728C43.9809 42.6607 44.0448 41.5935 44.0049 40.5222C43.805 38.1918 43.749 35.8454 43.9489 33.5109C43.9969 32.4437 44.0208 31.3764 44.0089 30.3091C43.757 27.2232 44.7044 23.7056 42.7577 21.0074C40.827 18.2133 36.3261 17.8615 33.9916 20.3199C32.021 22.1786 31.6252 25.4324 33.1962 27.6629C33.9157 28.8861 35.1828 29.5976 36.398 30.2411C34.6232 30.3171 32.8524 30.377 31.0816 30.3211C29.6266 28.3424 28.7232 25.8761 29.0829 23.4018C29.4507 20.04 31.8811 17.0381 35.0669 15.9308Z" fill="#07C160"/>
                    <path d="M20.9472 32.2239C20.8033 31.3485 21.3988 30.3851 22.3342 30.3491C25.2442 30.2572 28.1623 30.3451 31.0763 30.3212C32.8471 30.3771 34.6179 30.3172 36.3927 30.2412C38.927 30.3731 41.4653 30.3052 44.0036 30.3092C44.0156 31.3764 43.9916 32.4437 43.9436 33.511C37.3441 33.487 30.7405 33.519 24.145 33.495C24.137 35.8454 24.137 38.1958 24.137 40.5462C30.7565 40.5183 37.38 40.5662 43.9996 40.5223C44.0395 41.5935 43.9756 42.6608 43.8877 43.7281C38.3674 43.7241 32.8431 43.7201 27.3229 43.7241C27.3349 52.4542 27.3228 61.1803 27.3308 69.9064C32.8591 69.8984 38.3914 69.9104 43.9196 69.9024C43.9556 70.9737 43.9836 72.0409 44.0236 73.1122C37.9756 73.0642 31.9237 73.1122 25.8718 73.0882C24.9365 73.2121 24.0251 72.3647 24.149 71.4134C24.109 62.1876 24.181 52.9538 24.117 43.7241C23.0298 43.7081 21.4269 43.9839 21.0071 42.6368C20.8752 39.1712 20.9871 35.6975 20.9472 32.2239Z" fill="#07C160"/>
                    <path d="M47.1887 33.499C47.1927 32.4317 47.1967 31.3644 47.1927 30.2971C49.655 30.3251 52.1213 30.3491 54.5837 30.2651C56.3665 30.3091 58.1453 30.3691 59.932 30.3251C62.7182 30.3171 65.5043 30.2971 68.2904 30.3251C69.1898 30.2292 70.1252 30.9287 70.0892 31.876C70.1531 34.926 70.0772 37.9759 70.1212 41.0299C70.0692 41.7574 70.2451 42.6488 69.6655 43.2164C68.962 43.9679 67.8227 43.6401 66.9233 43.74C66.9113 52.8379 66.9233 61.9317 66.9193 71.0296C67.0353 71.937 66.5156 73.0482 65.4923 73.0682C59.3764 73.1361 53.2526 73.0642 47.1367 73.1002C47.2207 72.0329 47.2087 70.9616 47.1967 69.8903C52.7169 69.9063 58.2372 69.9223 63.7575 69.8863C63.7055 61.1682 63.7535 52.4461 63.7335 43.724C58.2212 43.728 52.7049 43.704 47.1927 43.736C47.2007 42.6727 47.1927 41.6055 47.1887 40.5382C53.7642 40.5422 60.3398 40.5302 66.9193 40.5462C66.9273 38.1958 66.9233 35.8454 66.9153 33.495C60.3398 33.5109 53.7642 33.5029 47.1887 33.499Z" fill="#07C160"/>
                  </g>
                </svg>
              {% endif %}
              <span>
                {{- block.settings.title -}}
              </span>
            </div>
            <div class="reward-program-threebar-subtitle">{{ block.settings.subtitle }}</div>
            {% if block.settings.button_url != blank %}
              <a class="reward-work-btn" href="{{ block.settings.button_url }}">
                {{- block.settings.btntext -}}
              </a>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "Reward How Work",
  "settings": [
    {
      "type": "text",
      "id": "section_title",
      "label": "Section Title",
      "default": "Here's How it Works"
    }
  ],
  "blocks": [
    {
      "type": "review_block",
      "name": "review_block",
      "settings": [
        {
          "type": "image_picker",
          "id": "pc_bg_image",
          "label": "PC Background Image"
        },
        {
          "type": "image_picker",
          "id": "mb_bg_image",
          "label": "Mobile Background Image"
        },
        {
          "type": "color",
          "id": "bg_color",
          "label": "Background Color",
          "default": "#DCF3EB"
        },
        {
          "type": "text",
          "id": "title",
          "label": "title"
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "subtitle"
        },
        {
          "type": "text",
          "id": "btntext",
          "label": "Button Text"
        },
        {
          "type": "url",
          "id": "button_url",
          "label": "Button Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "AReward How Work",
      "category": "HO-layout"
    }
  ]
}
{% endschema %}
