{%- liquid
  assign animation_row = 2
  assign drawer_position = 'right'
  if logo_alignment == 'center'
    assign drawer_position = 'left'
  endif
-%}

<div id="NavDrawer" class="drawer drawer--{{ drawer_position }}">
  <div class="drawer__contents"> 
    <div class="drawer__fixed-header">
      <div class="drawer__header appear-animation appear-delay-{{ animation_row }}">
        <div class="drawer__title drawer__titlebox">
           <div class="drawernav-logo">
             <svg width="127" viewBox="0 0 127 18" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_570_5259)">
<path d="M0 17.6029C0.230087 15.4846 0.41786 12.985 0.563317 10.1042C0.708774 7.22333 0.805304 3.97311 0.852909 0.353516H14.7018L14.4994 4.3491C13.8065 4.31203 13.1916 4.28423 12.6548 4.2657C12.1232 4.2657 11.7622 4.23392 11.5757 4.23392H6.11317C6.04573 4.8972 6.00209 5.3897 5.98622 5.71142C5.97036 6.03313 5.96242 6.33101 5.96242 6.60109V6.93074H10.4332C11.0164 6.93074 11.5361 6.93075 11.9962 6.90692C12.4564 6.88308 12.8769 6.85925 13.2657 6.85925L13.0634 10.9144C12.7738 10.8906 12.4683 10.8747 12.147 10.8628C11.8257 10.8509 11.3298 10.831 10.6554 10.831H5.74424C5.69266 11.1885 5.65696 11.538 5.62919 11.8756C5.60142 12.2132 5.59349 12.5587 5.59349 12.9043C5.59349 13.1068 5.59349 13.2617 5.59349 13.365C5.59349 13.4683 5.59349 13.5556 5.59349 13.6311C6.09333 13.6907 6.63285 13.7304 7.21203 13.7582C7.79122 13.786 8.50131 13.7939 9.34232 13.7939C10.1833 13.7939 11.064 13.7939 11.8693 13.7463C12.6746 13.6986 13.4283 13.6589 14.1305 13.5914L13.9282 17.5989L0 17.6029Z" fill="#07C160"/>
<path d="M22.2472 17.6029H16.6934C16.9261 15.4316 17.1205 12.8831 17.2765 9.95722C17.4325 7.03136 17.5344 3.83013 17.582 0.353516H23.1358C23.0842 0.77055 23.0406 1.23524 22.9969 1.7476C22.9533 2.25996 22.9057 2.98679 22.8462 3.9281L22.3979 12.0225C22.3662 12.7692 22.3371 13.6086 22.3106 14.5406C22.2868 15.4581 22.263 16.4828 22.2472 17.6029Z" fill="#07C160"/>
<path d="M35.4973 17.9802C32.3396 17.9802 29.8906 17.2216 28.1504 15.7044C26.4102 14.1871 25.5388 12.0689 25.5361 9.34954C25.5361 6.43692 26.438 4.15581 28.2416 2.50621C30.0453 0.856606 32.5313 0.0304799 35.6996 0.027832C38.9896 0.027832 41.5126 0.771874 43.2687 2.25996C45.0248 3.74804 45.9028 5.8822 45.9028 8.66243C45.9028 11.5989 44.9904 13.8893 43.1655 15.5336C41.3407 17.1779 38.7846 17.9934 35.4973 17.9802ZM31.1019 8.98017C31.1019 10.6483 31.488 11.8981 32.2602 12.7295C33.0298 13.5636 34.1842 13.9766 35.7274 13.9766C37.1899 13.9766 38.3245 13.5186 39.1311 12.6024C39.9377 11.6863 40.3344 10.3941 40.3212 8.72598C40.3212 7.17302 39.9245 5.99341 39.1311 5.18714C38.3377 4.38088 37.2031 3.99562 35.6957 3.99562C34.1882 3.99562 33.1052 4.43251 32.292 5.31027C31.4787 6.18803 31.1019 7.40338 31.1019 8.98017Z" fill="#07C160"/>
<path d="M62.8532 0.353419L62.635 4.32518C61.8971 4.24971 61.1752 4.19014 60.469 4.15042C59.7629 4.1107 59.0607 4.09481 58.3665 4.09481H57.7675L57.2994 11.9668C57.2756 12.4951 57.2557 13.0233 57.2399 13.5555C57.224 14.0878 57.2399 14.6359 57.2399 15.1959C57.2399 15.8393 57.2399 16.3278 57.2399 16.6575C57.2399 16.9871 57.2399 17.2969 57.2399 17.5869H51.686C51.858 16.1703 52.01 14.3168 52.1423 12.0264C52.2745 9.73603 52.3895 7.0882 52.4874 4.0829C51.4295 4.09879 50.4748 4.12659 49.6232 4.16631C48.7822 4.20205 48.0562 4.25766 47.4453 4.32518L47.6595 0.32959L62.8532 0.353419Z" fill="#07C160"/>
<path d="M80.8236 2.7842C80.0287 2.47669 79.2065 2.2453 78.368 2.09312C77.5147 1.93674 76.649 1.8583 75.7815 1.85878C73.6869 1.85878 72.0644 2.51015 70.9021 3.81289C69.7397 5.11562 69.1605 6.93866 69.1605 9.28597C69.1605 11.5419 69.7331 13.2551 70.8783 14.4254C72.0234 15.5958 73.7001 16.1809 75.9084 16.1809C76.6261 16.179 77.3425 16.1192 78.0506 16.0022C78.8699 15.8564 79.6794 15.6601 80.4745 15.4144L80.1452 17.6028L79.9667 17.6267C78.5959 17.8418 77.2123 17.9652 75.8251 17.996C72.8578 17.996 70.6098 17.2613 69.0812 15.7917C67.5526 14.3222 66.7843 12.1748 66.7764 9.34951C66.7764 6.38658 67.6028 4.08826 69.2558 2.45455C70.9087 0.820831 73.2201 0.00264784 76.1901 0C76.951 0.000333566 77.7112 0.0440946 78.4672 0.131069C79.2361 0.217233 79.9992 0.349867 80.7522 0.528244L80.8236 2.7842Z" fill="#07C160"/>
<path d="M83.5254 17.6029C83.7581 15.4422 83.9485 12.9069 84.0966 9.99694C84.2447 7.08697 84.3413 3.87249 84.3862 0.353516H86.9291C86.818 1.30277 86.7307 2.13286 86.6673 2.83586C86.6038 3.53887 86.5641 4.19421 86.5483 4.82174L86.2547 11.4228C86.2547 11.7127 86.2547 12.1099 86.2349 12.6143C86.215 13.1187 86.2349 14.1077 86.2349 15.5852C86.7942 15.6329 87.298 15.6686 87.7542 15.6845C88.2104 15.7004 88.6428 15.7123 89.0673 15.7123C89.8607 15.7123 90.6819 15.7123 91.4951 15.6607C92.3084 15.609 93.1216 15.5733 93.9348 15.5058L93.8317 17.6187L83.5254 17.6029Z" fill="#07C160"/>
<path d="M99.7826 0.353532C99.7231 0.88972 99.6675 1.4418 99.6239 2.01373C99.5803 2.58566 99.5366 3.20526 99.5009 3.92811L99.1201 11.5618C99.1201 11.673 99.1201 11.7882 99.0963 11.9113C99.0725 12.0345 99.0963 12.2092 99.0963 12.4396C99.0759 12.9973 99.1552 13.5541 99.3303 14.0839C99.4846 14.4851 99.7469 14.8356 100.088 15.0967C100.55 15.4597 101.078 15.7295 101.643 15.891C102.295 16.0766 102.969 16.1676 103.646 16.1611C105.424 16.1611 106.713 15.7534 107.514 14.9378C108.316 14.1223 108.745 12.7322 108.804 10.7675L108.954 4.7741C108.954 4.59934 108.974 4.32132 108.982 3.94797C109.014 2.49696 109.03 1.30543 109.03 0.373391H111.612C111.525 1.02079 111.458 1.64038 111.402 2.24409C111.346 2.8478 111.303 3.43562 111.267 3.97577L110.989 9.93341C110.989 10.1876 110.966 10.557 110.95 11.0376C110.889 13.3518 110.512 14.9405 109.819 15.8037C109.162 16.5524 108.308 17.1026 107.356 17.3924C106.125 17.7926 104.837 17.9845 103.543 17.9603C101.401 17.9603 99.735 17.4956 98.5449 16.5662C97.9594 16.111 97.4916 15.5217 97.181 14.8478C96.8703 14.1739 96.7259 13.4352 96.7597 12.6938C96.7597 12.2172 96.8232 10.6139 96.9501 7.88398C97.0771 5.15406 97.1525 2.63862 97.1763 0.337646L99.7826 0.353532Z" fill="#07C160"/>
<path d="M123.176 8.67422C124.445 8.80131 125.4 9.20643 126.04 9.88957C126.718 10.6743 127.063 11.6936 127 12.7294C127 14.3843 126.486 15.6102 125.457 16.4072C124.428 17.2042 122.841 17.6014 120.696 17.5988H114.639C114.903 15.4196 115.117 12.8631 115.281 9.92929C115.445 6.99549 115.537 3.80616 115.555 0.361328H121.664C123.568 0.361328 124.93 0.667154 125.75 1.2788C126.567 1.89046 126.976 2.86751 126.976 4.24174C127.019 5.31905 126.663 6.37436 125.976 7.20467C125.245 8.01007 124.253 8.53062 123.176 8.67422ZM117.245 15.8591H120.494C121.949 15.8591 123.05 15.5811 123.799 15.0251C124.17 14.7396 124.465 14.3671 124.658 13.9404C124.851 13.5137 124.936 13.0459 124.905 12.5785C124.935 12.1604 124.867 11.7412 124.708 11.3538C124.548 10.9665 124.301 10.6216 123.985 10.3463C123.371 9.85118 122.446 9.60361 121.208 9.60361H117.408L117.257 11.7642C117.257 12.1138 117.225 12.495 117.217 12.9081C117.209 13.3212 117.217 13.77 117.217 14.2466C117.217 14.5008 117.217 14.7589 117.217 15.0409C117.217 15.3229 117.233 15.5732 117.245 15.8591ZM117.471 7.88384H119.824C121.41 7.88384 122.643 7.59787 123.521 7.02594C123.931 6.76674 124.266 6.40448 124.493 5.97523C124.72 5.54598 124.831 5.06471 124.814 4.57933C124.814 3.71349 124.56 3.0939 124.044 2.72055C123.529 2.34721 122.656 2.16053 121.41 2.16053H117.892C117.812 2.95488 117.753 3.80881 117.701 4.66671C117.701 4.75674 117.701 4.82426 117.701 4.86927L117.471 7.88384Z" fill="#07C160"/>
</g>
<defs>
<clipPath id="clip0_570_5259">
<rect width="127" height="18"   fill="white"/>
</clipPath>
</defs>
</svg>
           </div>
          <button type="button" class="drawer__close-button js-drawer-close">
            <svg width="28"  viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M6.80078 6.80151L20.4038 20.4046" stroke="#101010" stroke-width="1.05066"/>
<path d="M6.80078 20.4041L20.4037 6.80122" stroke="#101010" stroke-width="1.05066"/>
</svg>


            <span class="icon__fallback-text">{{ 'general.drawers.close_menu' | t }}</span>
          </button>
       </div>
      </div>
    </div>
    <div class="drawer__scrollable">
      <div class="child-drscrollable">
      <ul class="mobile-nav" role="navigation" aria-label="Primary">
        {%- for link in main_menu.links -%}
          {%- liquid
            assign animation_row = animation_row | plus: 1
            assign child_list_handle = link.url | handleize | append: forloop.index
            assign has_dropdown = false
            assign is_megamenu = false
            if link.links != blank
              assign has_dropdown = true
            endif

            if has_dropdown
              for block in section.blocks
                if link.title == block.settings.menu_item
                  assign is_megamenu = true

                  assign promo_image_1 = block.settings.promo_image_1
                  assign promo_heading_1 = block.settings.promo_heading_1
                  assign promo_text_1 = block.settings.promo_text_1
                  assign promo_url_1 = block.settings.promo_url_1
                  assign promo_image_2 = block.settings.promo_image_2
                  assign promo_heading_2 = block.settings.promo_heading_2
                  assign promo_text_2 = block.settings.promo_text_2
                  assign promo_url_2 = block.settings.promo_url_2
                  assign promo_image_3 = block.settings.promo_image_3
                  assign promo_heading_3 = block.settings.promo_heading_3
                  assign promo_text_3 = block.settings.promo_text_3
                  assign promo_url_3 = block.settings.promo_url_3
                  break
                endif
              endfor
            endif
          -%}

     <li class="mobile-nav__item{% unless template == 'index' %}{% if link.active %} mobile-nav__item--active{% endif %}{% endunless %}">
          {%- unless has_dropdown -%}
              <a href="{{ link.url }}" class="mobile-nav__link">{{ link.title }}</a>
            {%- endunless -%}   
     {% assign flag_yanzheng = true %}
    {% for block in section.blocks %}

    {% if link.title == block.settings.menu_item and block.type == 'megamenu01' %} 
       {% assign flag_yanzheng = false %}
                  {%- if has_dropdown -%}
              <div class="mobile-nav__has-sublist">
                {%- assign trigger_link = false -%}
                {%- if link.url == '#' or link.url == link.links.first.url -%}
                  {%- assign trigger_link = true -%} 
                {%- endif -%}

                {%- if trigger_link -%}
                  <button type="button" class="mobile-nav__link--button collapsible-trigger collapsible--auto-height" aria-controls="Linklist-{{ child_list_handle }}">
                    <span class="mobile-nav__faux-link">{{ link.title }}</span>
                    <div class="mobile-nav__toggle">
                      <span>
                        {%- render 'collapsible-icons' -%}
                      </span>
                    </div>
                  </button>
                {%- else -%}
                  <a href="{{ link.url }}" class="mobile-nav__link" id="Label-{{ child_list_handle }}">
                    {{ link.title }}
                  </a>
                  <div class="mobile-nav__toggle">
                    <button type="button" class="collapsible-trigger collapsible--auto-height" aria-controls="Linklist-{{ child_list_handle }}" aria-labelledby="Label-{{ child_list_handle }}">
                      {%- render 'collapsible-icons' -%}
                    </button>
                  </div>
                {%- endif -%}
              </div>
            {%- else -%}
              <a href="{{ link.url }}" class="mobile-nav__link">{{ link.title }}</a>
            {%- endif -%}
       <div id="Linklist-{{ child_list_handle }}" class="mobile-nav__sublist site-nav_btn_sty01 mbdropdown_sty collapsible-content collapsible-content--all">
        <div class="collapsible-content__inner">
        <div class="site-nav__dropdown_sty01">
 
                <div class="megamenu__sty01">
                  <div class="megamenu__sty01-left">
                  {%- for childlink in link.links -%}
                    <div class="megasty01-leftconbox">
                    <div class="megamenu__col-title megamenu__col-titlemb">
                        {{ childlink.title }}
                    </div> 
                    
                    <div class="megamenu__col-contents">
                    <div class="megamenu-mb-fixsvg"><svg width="10" height="19" viewBox="0 0 10 19" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M9.26688 1.16202L0.999572 9.42932L9.26688 17.6966" stroke="#282828" stroke-width="1.05066"/>
</svg>
{{ childlink.title }}<svg width="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M6.80078 6.80151L20.4038 20.4046" stroke="#101010" stroke-width="1.05066"></path>
<path d="M6.80078 20.4041L20.4037 6.80122" stroke="#101010" stroke-width="1.05066"></path>
</svg></div>
                    <div class="megamenu__col-contopbar">
                    {% if childlink.object.metafields.custom.nav_text %}
                      {{ childlink.object.metafields.custom.nav_text.value }} <a href="{{ childlink.url }}">View All<svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1L5 5L1 9" stroke="currentColor"/></svg></a>
                    {% else %}
                      Network SIM Card <a href="{{ childlink.url }}">View All<svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1L5 5L1 9" stroke="currentColor"/></svg></a>
                    {% endif %}
                      </div>
                    <div class="megamenu__col-conitem">
                    {%- for grandchildlink in childlink.links -%}
                      <a href="{{ grandchildlink.url }}" class="mecol-conitemlink">
                       <img src="{% if grandchildlink.object.metafields.custom.nav_image %}{{ grandchildlink.object.metafields.custom.nav_image | img_url:'' }}{% else %}{{ grandchildlink.object.featured_image | img_url:'' }}{% endif %}" alt="{{ grandchildlink.title }}"/>
                        <div class="mecol-conitemtitle">{% if grandchildlink.object.metafields.custom.short_title != blank %}{{ grandchildlink.object.metafields.custom.short_title }}{% else %}{{ grandchildlink.title }}{% endif %}</div>{% if grandchildlink.object.tags contains 'new' or grandchildlink.object.tags contains 'New' %}<b>New</b>{% endif %}
                      </a>
                    {%- endfor -%}
                    </div>
                    
                    </div>
                    </div>
                  {%- endfor -%}
                </div> 
                </div>
        </div>
      </div>
     
    </div>
      
    {% elsif link.title == block.settings.menu_item and block.type == 'megamenu02' %} 
          {% assign flag_yanzheng = false %}
                                    {%- if has_dropdown -%}
              <div class="mobile-nav__has-sublist">
                {%- assign trigger_link = false -%}
                {%- if link.url == '#' or link.url == link.links.first.url -%}
                  {%- assign trigger_link = true -%}
                {%- endif -%} 

                {%- if trigger_link -%}
                  <button type="button" class="mobile-nav__link--button collapsible-trigger collapsible--auto-height" aria-controls="Linklist-{{ child_list_handle }}">
                    <span class="mobile-nav__faux-link">{{ link.title }}</span>
                    <div class="mobile-nav__toggle">
                      <span>
                        {%- render 'collapsible-icons' -%}
                      </span>
                    </div>
                  </button>
                {%- else -%}
                  <a href="{{ link.url }}" class="mobile-nav__link" id="Label-{{ child_list_handle }}">
                    {{ link.title }}
                  </a>
                  <div class="mobile-nav__toggle">
                    <button type="button" class="collapsible-trigger collapsible--auto-height" aria-controls="Linklist-{{ child_list_handle }}" aria-labelledby="Label-{{ child_list_handle }}">
                      {%- render 'collapsible-icons' -%}
                    </button>
                  </div>
                {%- endif -%}
              </div>
            {%- else -%}
              <a href="{{ link.url }}" class="mobile-nav__link">{{ link.title }}</a>
            {%- endif -%}
    <div id="Linklist-{{ child_list_handle }}" class="mobile-nav__sublist site-nav_btn_sty02 mbdropdown_sty collapsible-content collapsible-content--all">
        <div class="collapsible-content__inner">
        <div class="site-nav__dropdown_sty01 site-nav__dropdown_sty02">
 
                <div class="megamenu__sty01">
                  <div class="megamenu__sty01-left ">
                  {%- for childlink in link.links -%}
                    <div class="megasty01-leftconbox">
                    <div class="megamenu__col-title {% if forloop.first %}active{% endif %}">
                      <a href="{{ childlink.url }}" class="megamenu__sty01-leftlink animate-cssele  appear-delay-1">
                          {{ childlink.title }} 
                      </a>
                    <div class="changenav02_box">
                    {%- for grandchildlink in childlink.links -%}
                      <div class="nav02st-itemlink animate-cssele  appear-delay-1"><a href="{% if grandchildlink.object.metafields.custom.nav_collections01 != blank %}javascript:void(0);{% else %}{{ grandchildlink.url }}{% endif %}">
                       {{ grandchildlink.title }}{% if grandchildlink.object.metafields.custom.nav_collections01 != blank %}<svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1L5 5L1 9" stroke="currentColor"/></svg>{% endif %}
                      </a></div>
                      {% if grandchildlink.object.metafields.custom.nav_collections01 %}
                    <div class="megamenu__col-contents animate-cssele appear-delay-2 {% if forloop.first %}active{% endif %}">
                    <div class="megamenu-mb-fixsvg"><svg width="10" height="19" viewBox="0 0 10 19" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M9.26688 1.16202L0.999572 9.42932L9.26688 17.6966" stroke="#282828" stroke-width="1.05066"/>
</svg>
{{ grandchildlink.title }}<svg width="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M6.80078 6.80151L20.4038 20.4046" stroke="#101010" stroke-width="1.05066"></path>
<path d="M6.80078 20.4041L20.4037 6.80122" stroke="#101010" stroke-width="1.05066"></path>
</svg></div>
                     {% assign nowcol = collections[grandchildlink.object.metafields.custom.nav_collections01] %} 
                      {% if nowcol %}
                      <div class="megamenu__col-contopbar">
                    {% if grandchildlink.object.metafields.custom.nav_collections01 %}
                     {{ collections[grandchildlink.object.metafields.custom.nav_collections01].title }} <a href="{{ grandchildlink.url }}">View All<svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1L5 5L1 9" stroke="currentColor"/></svg></a>
                    {% endif %}
                    </div>
                    <div class="megamenu__col-conitem">
                    {%- for product in nowcol.products -%}
                      <a href="{{ product.url }}" class="mecol-conitemlink">
                       <img src="{{ product.featured_image | img_url:'200x' }}" alt="{{ product.title }}"/>
                        <div class="mecol-conitemtitle">{% if product.metafields.custom.short_title != blank %}{{ product.metafields.custom.short_title }}{% else %}{{ product.title }}{% endif %}</div>{% if product.tags contains 'new' or grandchildlink.object.tags contains 'New' %}<b>New</b>{% endif %}
                      </a>
                    {%- endfor -%}
                    </div>
                    {% endif %}
                      
                    {% assign nowcol02 = collections[grandchildlink.object.metafields.custom.nav_collections02] %} 
                     {% if nowcol02 %}
                   <div class="megamenu__col-contopbar megamenu__col-contopbar02">
                    
                    {% if grandchildlink.object.metafields.custom.nav_collections02 %}
                     {{ collections[grandchildlink.object.metafields.custom.nav_collections02].title }}
                    {% endif %}
                    </div>
                    <div class="megamenu__col-conitem">
                    {%- for product in nowcol02.products -%}
                      <a href="{{ product.url }}" class="mecol-conitemlink">
                       <img src="{{ product.featured_image | img_url:'200x' }}" alt="{{ product.title }}"/>
                        <div class="mecol-conitemtitle">{% if product.metafields.custom.short_title != blank %}{{ product.metafields.custom.short_title }}{% else %}{{ product.title }}{% endif %}</div>{% if product.tags contains 'new' or grandchildlink.object.tags contains 'New' %}<b>New</b>{% endif %}
                      </a>
                    {%- endfor -%}
                    </div>
                    {% endif %}
                      
                    </div>
                      {% endif %}
                    {%- endfor -%} 
                    </div>
                    </div> 

                    {%- liquid
                      if childlink.levels > 0
                        assign previous_column_type = 'full'
                      else
                        assign previous_column_type = 'single'
                      endif
                    -%} 
                    
                   
                    </div>
                  {%- endfor -%}
                </div>
                </div>
        </div>      
     </div>  
   </div>  
      
    {% elsif link.title == block.settings.menu_item and block.type == 'megamenu03' %} 
          {% assign flag_yanzheng = false %}
                {%- if has_dropdown -%}
              <div class="mobile-nav__has-sublist">
                {%- assign trigger_link = false -%}
                {%- if link.url == '#' or link.url == link.links.first.url -%}
                  {%- assign trigger_link = true -%}
                {%- endif -%}

                {%- if trigger_link -%}
                  <button type="button" class="mobile-nav__link--button mb-navbtnmenu03">
                    <span class="mobile-nav__faux-link">{{ link.title }}</span>
                    <div class="mobile-nav__toggle">
                      <span>
                        {%- render 'collapsible-icons' -%}
                      </span>
                    </div>
                  </button>
                {%- else -%}
                  <a href="{{ link.url }}" class="mobile-nav__link" id="Label-{{ child_list_handle }}">
                    {{ link.title }}
                  </a>
                  <div class="mobile-nav__toggle">
                    <button type="button" class="collapsible-trigger collapsible--auto-height" aria-labelledby="Label-{{ child_list_handle }}">
                      {%- render 'collapsible-icons' -%}
                    </button>
                  </div>
                {%- endif -%}
              </div>
            {%- else -%}
              <a href="{{ link.url }}" class="mobile-nav__link">{{ link.title }}</a>
            {%- endif -%}
     <div id="Linklist-{{ child_list_handle }}" class="mobile-nav__sublist site-nav_btn_sty03 mbdropdown_sty">


        <div class="site-nav__dropdown_sty03">
          <div class="megamenu-mb-fixsvg"><svg width="10" height="19" viewBox="0 0 10 19" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M9.26688 1.16202L0.999572 9.42932L9.26688 17.6966" stroke="#282828" stroke-width="1.05066"/>
</svg>
{{ link.title }}<svg width="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M6.80078 6.80151L20.4038 20.4046" stroke="#101010" stroke-width="1.05066"></path>
<path d="M6.80078 20.4041L20.4037 6.80122" stroke="#101010" stroke-width="1.05066"></path>
</svg></div>
          <div class="page-width">
            <div class="megamenu__wrapper">
              {%- if promo_image_1 -%}
                <div class="megamenu__promo appear-delay-1 animate-cssele">

                    <div style="margin: 0 auto; max-width: {{ promo_image_1.width }}px">
                      <div class="image-wrap aos-animate megamenu__promo-image" style="height: 0; padding-bottom: {{ 100 | divided_by: promo_image_1.aspect_ratio }}%;">
                        {%- render 'image-element',
                          img: promo_image_1,
                          widths: '540, 750, 900',
                          sizeVariable: '250px',
                        -%}
                      </div>
                    </div>
                    {%- if promo_heading_1 -%}
                      <div class="navsty03_title"><strong>{{ promo_heading_1 }}</strong></div>
                    {%- endif -%}
                    {%- if promo_text_1 -%}
                      <div class="navsty03_text">{{ promo_text_1 }}</div>
                    {%- endif -%}
                     {%- if promo_url_1 -%}
                    <a href="{{ promo_url_1 }}" class="navsty03_url"> Learn More&nbsp;<svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M1 1L5 5L1 9" stroke="currentColor"/>
</svg>
</a>{%- endif -%}

                </div>
              {%- endif -%}
              {%- if promo_image_2 -%}
                <div class="megamenu__promo appear-delay-2 animate-cssele">

                    <div style="margin: 0 auto; max-width: {{ promo_image_2.width }}px">
                      <div class="image-wrap aos-animate megamenu__promo-image" style="height: 0; padding-bottom: {{ 100 | divided_by: promo_image_2.aspect_ratio }}%;">
                        {%- render 'image-element',
                          img: promo_image_2,
                          widths: '540, 750, 900',
                          sizeVariable: '250px',
                        -%}
                      </div>
                    </div>
                    {%- if promo_heading_2 -%}
                      <div class="navsty03_title"><strong>{{ promo_heading_2 }}</strong></div>
                    {%- endif -%}
                    {%- if promo_text_2 -%}
                      <div class="navsty03_text">{{ promo_text_2 }}</div>
                    {%- endif -%}
                {%- if promo_url_2 -%} <a href="{{ promo_url_2 }}" class="navsty03_url"> Learn More&nbsp;<svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M1 1L5 5L1 9" stroke="currentColor"/>
</svg>
</a>{%- endif -%}

                </div>
              {%- endif -%}
              {%- if promo_image_3 -%}
                <div class="megamenu__promo appear-delay-3 animate-cssele">

                  <div style="margin: 0 auto; max-width: {{ promo_image_3.width }}px">
                    <div class="image-wrap aos-animate megamenu__promo-image" style="height: 0; padding-bottom: {{ 100 | divided_by: promo_image_2.aspect_ratio }}%;">
                      {%- render 'image-element',
                        img: promo_image_3,
                        widths: '540, 750, 900',
                        sizeVariable: '250px',
                      -%}
                    </div>
                  </div>
                  {%- if promo_heading_3 -%}
                    <div class="navsty03_title"><strong>{{ promo_heading_3 }}</strong></div>
                  {%- endif -%}
                  {%- if promo_text_3 -%}
                    <div class="navsty03_text">{{ promo_text_3 }}</div>
                  {%- endif -%}
                {%- if promo_url_3 -%} <a href="{{ promo_url_3 }}" class="navsty03_url"> Learn More&nbsp;<svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M1 1L5 5L1 9" stroke="currentColor"/>
</svg>
</a>{%- endif -%}

                </div>
            {%- endif -%}
            </div>
          </div>
        </div>
  
     </div>
  
    {% elsif link.title == block.settings.menu_item and block.type == 'megamenu04' %}    
          {% assign flag_yanzheng = false %}
              {%- if has_dropdown -%}
              <div class="mobile-nav__has-sublist">
                {%- assign trigger_link = false -%}
                {%- if link.url == '#' or link.url == link.links.first.url -%}
                  {%- assign trigger_link = true -%}
                {%- endif -%}

                {%- if trigger_link -%}
                  <button type="button" class="mobile-nav__link--button collapsible-trigger collapsible--auto-height" aria-controls="Linklist-{{ child_list_handle }}">
                    <span class="mobile-nav__faux-link">{{ link.title }}</span>
                    <div class="mobile-nav__toggle">
                      <span>
                        {%- render 'collapsible-icons' -%}
                      </span>
                    </div>
                  </button>
                {%- else -%}
                  <a href="{{ link.url }}" class="mobile-nav__link" id="Label-{{ child_list_handle }}">
                    {{ link.title }}
                  </a>
                  <div class="mobile-nav__toggle">
                    <button type="button" class="collapsible-trigger collapsible--auto-height" aria-controls="Linklist-{{ child_list_handle }}" aria-labelledby="Label-{{ child_list_handle }}">
                      {%- render 'collapsible-icons' -%}
                    </button>
                  </div>
                {%- endif -%}
              </div>
            {%- else -%}
              <a href="{{ link.url }}" class="mobile-nav__link">{{ link.title }}</a>
            {%- endif -%}
    <div id="Linklist-{{ child_list_handle }}" class="mobile-nav__sublist site-nav_btn_sty04 mbdropdown_sty collapsible-content collapsible-content--all">
        <div class="collapsible-content__inner">


        <div class="site-nav__dropdown_sty04">
          <div class="page-width">
            <div class="megamenu__wrapper">
             <div class="megamenu__cols">
                <div class="megamenu__col appear-delay-1 animate-cssele">
                  {%- for childlink in link.links -%}
                    {%- liquid
                      assign create_new_column = false

                      if childlink.levels > 0 and forloop.index != 1
                        assign create_new_column = true
                      endif

                      if childlink.levels == 0 and previous_column_type == 'full'
                        assign create_new_column = true
                      endif
                    -%}

                    {%- if create_new_column -%}
                      {%- assign columns = columns | plus: 1 -%}
                      </div><div class="megamenu__col appear-delay-{{ forloop.index }} animate-cssele">
                    {%- endif -%}

                    <div class="megamenu__col-title">
                      <a href="{% if childlink.levels>0 %}javascript:void(0);{% else %}{{ childlink.url }}{% endif %}" class="site-nav__dropdown-link site-nav__dropdown-link--top-level site-nav__dropdown-link--mega">
                        <span class="megamenu__link-label">
                          {{ childlink.title }}
                        </span>
                      </a>
                    </div>

                    {%- liquid
                      if childlink.levels > 0
                        assign previous_column_type = 'full'
                      else
                        assign previous_column_type = 'single'
                      endif
                    -%}

                    {%- for grandchildlink in childlink.links -%}
                      <div class="four_navmbwp">
                      <a href="{{ grandchildlink.url }}" class="site-nav__dropdown-link">
                        {{ grandchildlink.title }}
                      </a>
                      </div>
                    {%- endfor -%}
                  {%- endfor -%}
                </div>
              </div>
      
              <div class="sty04_supportbox animate-cssele appear-delay-3">
              {% if block.settings.title != blank %}
              <div class="megamenu__col-title"><a href="javascript:void(0)" class="sty04_supporttitle site-nav__dropdown-link"><span class="megamenu__link-label">{{ block.settings.title }}</span></a> </div>
              {% endif %}
               <div class="sty04_supporimgbox">
                {% if block.settings.logo_1 %} <div class="sty04_supporimgitem"><img alt="" src="{{  block.settings.logo_1 | img_url:'master' }}"/></div>{% endif %}
      {% if block.settings.logo_2 %} <div class="sty04_supporimgitem"><img alt="" src="{{  block.settings.logo_2 | img_url:'master' }}"/></div>{% endif %}
      {% if block.settings.logo_3 %} <div class="sty04_supporimgitem"><img alt="" src="{{  block.settings.logo_3 | img_url:'master' }}"/></div>{% endif %}
      {% if block.settings.logo_4 %} <div class="sty04_supporimgitem"><img alt="" src="{{  block.settings.logo_4 | img_url:'master' }}"/></div>{% endif %}
      {% if block.settings.logo_5 %} <div class="sty04_supporimgitem"><img alt="" src="{{  block.settings.logo_5 | img_url:'master' }}"/></div>{% endif %}
      {% if block.settings.logo_6 %} <div class="sty04_supporimgitem"><img alt="" src="{{  block.settings.logo_6 | img_url:'master' }}"/></div>{% endif %}
               </div>
               {% if block.settings.url %}
              <a class="sty04_supportbtn" href="{{ block.settings.url }}">{{ block.settings.urltext }}<svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M1 1L5 5L1 9" stroke="currentColor"/>
</svg></a>
              {% endif %}
              </div>
            
            </div>
          </div>
        </div>


      </div></div>

     {% endif %}
  {% endfor %}
 <!-- end blocktype -->
          
            {%- if has_dropdown and flag_yanzheng -%}
             {%- if has_dropdown -%}
              <div class="mobile-nav__has-sublist">
                {%- assign trigger_link = false -%}
                {%- if link.url == '#' or link.url == link.links.first.url -%}
                  {%- assign trigger_link = true -%}
                {%- endif -%}

                {%- if trigger_link -%}
                  <button type="button" class="mobile-nav__link--button collapsible-trigger collapsible--auto-height" aria-controls="Linklist-{{ child_list_handle }}">
                    <span class="mobile-nav__faux-link">{{ link.title }}</span>
                    <div class="mobile-nav__toggle">
                      <span>
                        {%- render 'collapsible-icons' -%}
                      </span>
                    </div>
                  </button>
                {%- else -%}
                  <a href="{{ link.url }}" class="mobile-nav__link" id="Label-{{ child_list_handle }}">
                    {{ link.title }}
                  </a>
                  <div class="mobile-nav__toggle">
                    <button type="button" class="collapsible-trigger collapsible--auto-height" aria-controls="Linklist-{{ child_list_handle }}" aria-labelledby="Label-{{ child_list_handle }}">
                      {%- render 'collapsible-icons' -%}
                    </button>
                  </div>
                {%- endif -%}
              </div>
            {%- else -%}
              <a href="{{ link.url }}" class="mobile-nav__link">{{ link.title }}</a>
            {%- endif -%}
              <div id="Linklist-{{ child_list_handle }}" class="mobile-nav__sublist collapsible-content collapsible-content--all">
                <div class="collapsible-content__inner">
                  <ul class="mobile-nav__sublist">
                    {%- for childlink in link.links -%}
                      {%- assign has_sub_dropdown = false -%}
                      {%- assign grand_child_list_handle = childlink.url | handleize | append: forloop.index -%}
                      {%- if childlink.links != blank -%}
                        {%- assign has_sub_dropdown = true -%}
                      {%- endif -%}

                      <li class="mobile-nav__item{% unless template == 'index' %}{% if childlink.active %} mobile-nav__item--active{% endif %}{% endunless %}">
                        <div class="mobile-nav__child-item">
                          {%- assign trigger_link = false -%}
                          {%- if childlink.url == '#' or childlink.url == childlink.links.first.url -%}
                            {%- assign trigger_link = true -%}
                          {%- endif -%}

                          {%- if trigger_link and has_sub_dropdown -%}
                            <button type="button" class="mobile-nav__link--button mobile-nav__link--button-small collapsible-trigger" aria-controls="Sublinklist-{{ child_list_handle }}-{{ grand_child_list_handle }}">
                              <span class="mobile-nav__faux-link">{{ childlink.title | escape }}</span>
                              <div class="mobile-nav__toggle">
                                <span>
                                  {%- render 'collapsible-icons-alt' -%}
                                </span>
                              </div>
                            </button>
                          {%- else -%}
                            <a href="{{ childlink.url }}" class="mobile-nav__link" id="Sublabel-{{ grand_child_list_handle }}">
                              {{ childlink.title | escape }}
                            </a>
                          {%- endif -%}
                          {%- if trigger_link == false and has_sub_dropdown -%}
                            <button type="button" class="collapsible-trigger" aria-controls="Sublinklist-{{ child_list_handle }}-{{ grand_child_list_handle }}" aria-labelledby="Sublabel-{{ grand_child_list_handle }}">
                              {%- render 'collapsible-icons-alt' -%}
                            </button>
                          {%- endif -%}
                        </div>

                        {%- if has_sub_dropdown -%}
                          <div id="Sublinklist-{{ child_list_handle }}-{{ grand_child_list_handle }}" class="mobile-nav__sublist collapsible-content collapsible-content--all" aria-labelledby="Sublabel-{{ grand_child_list_handle }}">
                            <div class="collapsible-content__inner">
                              <ul class="mobile-nav__grandchildlist">
                                {%- for grandchildlink in childlink.links -%}
                                  <li class="mobile-nav__item{% unless template == 'index' %}{% if grandchildlink.active %} mobile-nav__item--active{% endif %}{% endunless %}">
                                    <a href="{{ grandchildlink.url }}" class="mobile-nav__link">
                                      {{ grandchildlink.title }}
                                    </a>
                                  </li>
                                {%- endfor -%}
                              </ul>
                            </div>
                          </div>
                        {%- endif -%}
                      </li>
                    {%- endfor -%}
                  </ul>

                  {%- if is_megamenu -%}
                    {%- if promo_image_1 -%}
                      <div class="megamenu__promo megamenu__promo--mobile">
                        {%- if promo_url_1 -%}
                          <a href="{{ promo_url_1 }}" class="megamenu__promo-link">
                        {%- endif -%}
                          <div style="margin: 0 auto; max-width: {{ promo_image_1.width }}px">
                            <div class="image-wrap aos-animate megamenu__promo-image" style="height: 0; padding-bottom: {{ 100 | divided_by: promo_image_1.aspect_ratio }}%;">
                              {%- render 'image-element',
                                img: promo_image_1,
                                widths: '540, 750, 900',
                              -%}
                          </div>
                          {%- if promo_heading_1 -%}
                            <div><strong>{{ promo_heading_1 }}</strong></div>
                          {%- endif -%}
                          {%- if promo_text_1 -%}
                            <div>{{ promo_text_1 }}</div>
                          {%- endif -%}
                        {%- if promo_url_1 -%}
                          </a>
                        {%- endif -%}
                      </div>
                    {%- endif -%}

                    {%- if promo_image_2 -%}
                      <div class="megamenu__promo megamenu__promo--mobile">
                        {%- if promo_url_2 -%}
                          <a href="{{ promo_url_2 }}" class="megamenu__promo-link">
                        {%- endif -%}
                          <div style="margin: 0 auto; max-width: {{ promo_image_2.width }}px">
                            <div class="image-wrap aos-animate megamenu__promo-image" style="height: 0; padding-bottom: {{ 100 | divided_by: promo_image_2.aspect_ratio }}%;">
                              {%- render 'image-element',
                                img: promo_image_2,
                                widths: '540, 750, 900', 
                              -%}
                            </div>
                          </div>
                          {%- if promo_heading_2 -%}
                            <div><strong>{{ promo_heading_2 }}</strong></div>
                          {%- endif -%}
                          {%- if promo_text_2 -%}
                            <div>{{ promo_text_2 }}</div>
                          {%- endif -%}
                        {%- if promo_url_2 -%}
                          </a>
                        {%- endif -%}
                      </div>
                    {%- endif -%}
                    {%- if promo_image_3 -%}
                      <div class="megamenu__promo megamenu__promo--mobile">
                        {%- if promo_url_3 -%}
                          <a href="{{ promo_url_3 }}" class="megamenu__promo-link">
                        {%- endif -%}
                          <div style="margin: 0 auto; max-width: {{ promo_image_3.width }}px">
                            <div class="image-wrap aos-animate megamenu__promo-image" style="height: 0; padding-bottom: {{ 100 | divided_by: promo_image_2.aspect_ratio }}%;">
                              {%- render 'image-element',
                                img: promo_image_3,
                                widths: '540, 750, 900',
                              -%}
                            </div>
                          </div>
                          {%- if promo_heading_3 -%}
                            <div><strong>{{ promo_heading_3 }}</strong></div>
                          {%- endif -%}
                          {%- if promo_text_3 -%}
                            <div>{{ promo_text_3 }}</div>
                          {%- endif -%}
                        {%- if promo_url_3 -%}
                          </a>
                        {%- endif -%}
                      </div>
                    {%- endif -%}
                  {%- endif -%}
                </div>
              </div>
            {%- endif -%}
          </li>
        {%- endfor -%}

         {% comment %}                    
        {%- if shop.customer_accounts_enabled -%}
          {%- assign animation_row = animation_row | plus: 1 -%}
          {%- if customer -%}
            <li class="mobile-nav__item{% unless template == 'index' %}{% if link.active %} mobile-nav__item--active{% endif %}{% endunless %} appear-animation appear-delay-{{ animation_row }}">
              <a href="{{ routes.account_url }}" class="mobile-nav__link">{{ 'layout.customer.account' | t }}</a>
            </li>
          {%- else -%}
            <li class="mobile-nav__item{% unless template == 'index' %}{% if link.active %} mobile-nav__item--active{% endif %}{% endunless %} appear-animation appear-delay-{{ animation_row }}">
              <a href="{{ routes.account_login_url }}" class="mobile-nav__link">{{ 'layout.customer.log_in' | t }}</a>
            </li>
          {%- endif -%}
        {%- endif -%}
          {% endcomment %} 
        <li class="mobile-nav__spacer"></li>
      </ul>
       <div class="mbnavsocial-box"> 
         <div class="mbnavsocial-textbox">
           {% if settings.nav_mbimg01 %}
           <div class="mbnavsocial-textitem">
             <a href="{{ settings.nav_mburl01 }}">
             <img src="{{ settings.nav_mbimg01 | img_url:'master' }}" alt="{{ settings.nav_mbtitle01 }}"/>
             <span>{{ settings.nav_mbtitle01 }}</span>
             </a>
           </div>
          {% endif %}
           {% if settings.nav_mbimg02 %}
           <div class="mbnavsocial-textitem">
             <a href="{{ settings.nav_mburl02 }}">
             <img src="{{ settings.nav_mbimg02 | img_url:'master' }}" alt="{{ settings.nav_mbtitle02 }}"/>
             <span>{{ settings.nav_mbtitle02 }}</span>
             </a>
           </div>
          {% endif %}
         </div>
      <div class="flowus-mbnav"><span>Follow Us</span>{% render 'social-icons', additional_classes: 'mobile-nav__social' %}</div>
       </div> 
      </div> 
    </div>
  </div>
</div>
