{% if linklists[block.settings.menu].links.size > 0 %}
  {% if block.settings.show_footer_title %}
    <h2 class="footer__title hide-mb">
      {% if block.settings.title != blank %}{{ block.settings.title }}{% else %}{{ linklists[block.settings.menu].title }}{% endif %}
    </h2>
    <button type="button" class="footer__title collapsible-trigger collapsible-trigger-btn hide-pc" aria-controls="Footer-{{ block.id }}">
      {{ linklists[block.settings.menu].title }}
<svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M10 5H0" stroke="currentColor" stroke-width="1.5"/>
<path class="shuplusline" d="M5 -4.17233e-07L5 10" stroke="currentColor" stroke-width="1.5"/>
</svg>
    </button>
  {% endif %}
  <div
    {% if block.settings.show_footer_title %}
      id="Footer-{{ block.id }}" class="collapsible-content collapsible-content--small"
    {% endif %}>
    <div class="collapsible-content__inner">
      <div class="footer__collapsible{% unless block.settings.show_footer_title %} footer_collapsible--disabled{% endunless %}">
        <ul class="no-bullets site-footer__linklist">
          {%- for link in linklists[block.settings.menu].links -%}
            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
          {%- endfor -%}
        </ul>
      </div>
    </div>
  </div>
{% endif %}
