<script src="{{ 'TweenMax.min.js' | asset_url }}" defer ></script>
<script src="{{ 'ScrollMagic.js' | asset_url }}" defer></script>
<script src="{{ 'animation.gsap.js' | asset_url }}" defer ></script> 
<!-- {{ 'jquery.mousewheel.js' | asset_url | script_tag }}  -->
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<script src="{{ 'vue.js' | asset_url }}"></script> 
<div id="v-box_scroll">

<div 888 class="scroll_animation_ho_outbox" v-if="pcSeenslidemo()">

  <div id="scroll_anima_container"> 
    <div id="scroll_anima_box" >
       <div id="scroll_anima_frame01">
        <video width="100%" class="scrollan_frame01_video" muted="muted" preload="metadata" webkit-playsinline="true" playsinline="true" x5-playsinline="true" x-webkit-airplay='allow' >
        <source src="https://cdn.shopify.com/videos/c/o/v/f81af7ed9274409595e96063da5356eb.mp4"/>
        </video>
    <div class="scroll_frame01_imgs">      
   <div class="swiper-container swiper_firstframe">
    <div class="swiper-wrapper">
        <div class="swiper-slide"> <img class="scrollan_frame01_img" src="https://cdn.shopify.com/s/files/1/0077/3953/9515/files/1.webp?v=1670988446"/></div>
        <div class="swiper-slide"><img class="scrollan_frame01_img" src="https://cdn.shopify.com/s/files/1/0077/3953/9515/files/1-2.webp?v=1670988449"/></div>
        <div class="swiper-slide"><img class="scrollan_frame01_img" src="https://cdn.shopify.com/s/files/1/0077/3953/9515/files/1-3.webp?v=1670988451"/></div>
      <div class="swiper-slide"><img class="scrollan_frame01_img" src="https://cdn.shopify.com/s/files/1/0077/3953/9515/files/1-4.webp?v=1670988452"/></div>
    </div>
   </div>
    </div>
 
         
         
         
        <div class="scani_frame01_text">
          <div class="frame_topinfo">Oclean X Pro Digital</div>
          <span>NO MISS</span>ing<br>
of 8 brushing areas<br>
Never felt my teeth<br>
 <span>SO CLEAN!</span>
        </div>
       </div>
      
      <div id="scroll_anima_frame02">
         <video width="100%"  autoplay="autoplay" class="scrollan_frame02_video" loop="loop" muted="muted" preload="metadata" webkit-playsinline="true" playsinline="true" x5-playsinline="true" x-webkit-airplay='allow' >
        <source src="https://cdn.shopify.com/videos/c/o/v/08dea14f53924787a97c804023d52f8c.mp4"/>
        </video>
        <div class="scrollan_frame02bgbk"></div>
         <div class="scani_frame02_content scani_frame02_content01">8 BRUSHING AREAS TRACKING</div>
        <div class="scani_frame02_content scani_frame02_content02">MISSED AREAS INSTANT FEEDBACK</div>
        <div class="scani_frame02_content scani_frame02_content03">OCLEAN NEW GENERATION MAGLEV MOTOR</div>
        <div class="scani_frame02_content scani_frame02_content04">DUO BRUSH HEADS SETS</div>
        <div class="scani_frame02_content scani_frame02_content05">UP TO 30 DAYS BATTERY LIFE<br>
          <a class="scrollan_frame02bg_more" href="https://cdn.shopify.com/videos/c/o/v/08dea14f53924787a97c804023d52f8c.mp4" target="_blank">Watch Video<svg xmlns="http://www.w3.org/2000/svg" width="9" viewBox="0 0 9 11" fill="none">
<path d="M1 1L7 5.2L1 9.7" stroke="white" stroke-width="2"/>
</svg></a>
</div>
      </div>
       <div id="scroll_anima_frame03">
<!--          <video width="100%"  autoplay="autoplay" class="scrollan_frame03_video" loop="loop" muted="muted" preload="metadata" webkit-playsinline="true" playsinline="true" x5-playsinline="true" x-webkit-airplay='allow' >
        <source src="https://cdn.shopify.com/videos/c/o/v/f2f722bd70e045a4be0cffe27114da40.mp4"/>
        </video> -->
          <img class="frame03-img01" src="https://cdn.shopify.com/s/files/1/0077/3953/9515/files/pciframethree_1.webp?v=1672907374"/>
         <div class="jsondonghuabox02">
<!--            <lottie-player src="https://cdn.shopify.com/s/files/1/0077/3953/9515/files/line-no-pic.json?v=1672899164" background="transparent" speed="1" style="width: 100%;" class="mask-group" loop autoplay></lottie-player> -->
         <img src="https://cdn.shopify.com/s/files/1/0077/3953/9515/files/00.png?v=1673250086" alt="">
         </div>
         <div class="scranframe03_bgover"></div>
         <div class="scranframe03_text scranframe03_text_01">
           <div class="scranimation03_text_title">Maglev Motor</div>
           <div class="scranimation03_text_content">The Next Generation of Sonic Power</div>
         </div>
           <div class="scranframe03_text scranframe03_text_02">
           <div class="scranimation03_text_title">Zero Energy Loss</div>
           <div class="scranimation03_text_content">Concentrate the Energy Transfer to Brush Head</div>
         </div>
         <div class="scranframe03_text scranframe03_text_03">
           <div class="scranimation03_text_title">Up to 84,000</div>
           <div class="scranimation03_text_content">Movements/Min Frequency</div>
         </div>
         <div class="scranframe03_text scranframe03_text_04">
           <div class="scranimation03_text_title">Super Stable</div>
           <div class="scranimation03_text_content">The Next Generation of Sonic Power</div>
         </div>
         <div class="scranframe03_text scranframe03_text_05">
           <div class="scranimation03_texttwo_title">Missed Areas Instant Feedback</div>
           <div class="scranframe03_text_05_ct">
           <div class="scranimation03_texttwo_content">Supplementary Brushing in One Click</div>
           </div>
           <div class="scranframe03_text_06_ct">
           <div class="scranimation03_textthree_subtitle">Areas In Red</div>
           <div class="scranimation03_textthree_subtitle02">Not Fully Cleaned</div>
           <div class="scranimation03_textthree_subtitle">Brushing Score</div>
           <div class="scranimation03_textthree_subtitle02">From 0-100 Based on Your Brushing Behavior</div>
           </div>
           <div class="scranframe03_text_07_ct"> <div class="scranimation03_texttwo_content">No Misising of 8 brushing areas</div></div>
           
         </div>

<!--   <div class="scroll_frame03_statecg">      
   <div class="swiper-container swiper_statecg">
    <div class="swiper-wrapper">
        <div class="swiper-slide"> 
         <div class="scranframe03_text scranframe03_text_05">
           <div class="scranimation03_texttwo_title">Missed Areas Instant Feedback</div>
           <div class="scranframe03_text_05_ct">
           <div class="scranimation03_texttwo_content">Supplementary Brushing in One Click</div>
           </div>      
         </div>
        </div>
        <div class="swiper-slide">
           <div class="scranframe03_text scranframe03_text_05">
           <div class="scranimation03_texttwo_title">Missed Areas Instant Feedback</div>
           <div class="scranframe03_text_06_ct">
           <div class="scranimation03_textthree_subtitle">Areas In Red</div>
           <div class="scranimation03_textthree_subtitle02">Not Fully Cleaned</div>
           <div class="scranimation03_textthree_subtitle">Brushing Score</div>
           <div class="scranimation03_textthree_subtitle02">From 0-100 Based on Your Brushing Behavior</div>
           </div>  
         </div>
        </div>
        <div class="swiper-slide">
           <div class="scranframe03_text scranframe03_text_05">
           <div class="scranimation03_texttwo_title">Missed Areas Instant Feedback</div>  
           <div class="scranframe03_text_07_ct"> <div class="scranimation03_texttwo_content">No Misising of 8 brushing areas</div></div>  
         </div>
        </div>
    </div>
   </div>
    </div> -->
         

         <div class="scranframe03_text scranframe03_text_08">
           <div class="scranimation03_textfour_title">Duo Brush Head Set*</div>
           <div class="scranimation03_textfour_content">Deeply Clean Hard to Reach Areas</div>
         </div>
         
         <div class="scranframe03_linemove scranframe03_linemove01">
           <div class="scranframe03_linemove-title">Plaque Control</div>
           <div class="line_move01"></div>
         </div>
         <div class="scranframe03_linemove scranframe03_linemove02">
           <div class="scranframe03_linemove-title">Delicate Clean</div>
           <div class="line_move01"></div>
         </div>

       </div>
    </div>
    
  </div>
  <div id="imgzhenshu_box" style="display:none">
{% for i in (1..212) -%}
   <img alt="frame{{ i }}" src="https://cdn.shopifycdn.net/s/files/1/0077/3953/9515/files/pciframethree_{{ i }}.webp?v=1672907374"/>
{%- endfor %} 
    <img alt  src="https://cdn.shopify.com/s/files/1/0077/3953/9515/files/9_0138050_19_2.gif?v=1672903095">
   <img alt  src="https://cdn.shopify.com/s/files/1/0077/3953/9515/files/1100-00.gif?v=1673250089">
</div>
  
</div> 
  
  
<!--  Mobile Design  -->
  <div class="scroll_animation_ho_outbox" v-if="mobileSeenslidemo()">
  <div id="scroll_anima_container"> 
    <div id="scroll_anima_box" >
       <div id="scroll_anima_frame01">
   <img alt="" class="mbanima_frame01_img" src="https://cdn.shopify.com/s/files/1/0077/3953/9515/files/mbframeone_1.webp?v=1672712299"/>  
    <div class="scani_frame01_text">
     <div class="frame_topinfo">Oclean X Pro Digital</div>
          <span>NO MISS</span>ing<br>
          of 8 brushing areas<br>
          Never felt my teeth<br>
           <span>SO CLEAN!</span>
        </div>
       </div>
      
      <div id="scroll_anima_frame02">
        <div class="scrollan_frame02bgbk"></div>
         <div class="scani_frame02_content scani_frame02_content01">8 BRUSHING AREAS TRACKING</div>
        <div class="scani_frame02_content scani_frame02_content02">MISSED AREAS INSTANT FEEDBACK</div>
        <div class="scani_frame02_content scani_frame02_content03">OCLEAN NEW GENERATION MAGLEV MOTOR</div>
        <div class="scani_frame02_content scani_frame02_content04">DUO BRUSH HEADS SETS</div>
        <div class="scani_frame02_content scani_frame02_content05">UP TO 30 DAYS BATTERY LIFE<br>
          <a class="scrollan_frame02bg_more" href="https://cdn.shopify.com/videos/c/o/v/08dea14f53924787a97c804023d52f8c.mp4" target="_blank">Watch Video<svg xmlns="http://www.w3.org/2000/svg" width="9" viewBox="0 0 9 11" fill="none">
<path d="M1 1L7 5.2L1 9.7" stroke="white" stroke-width="2"/>
</svg></a>
</div>
      </div>
       <div id="scroll_anima_frame03">

          <img class="frame03-img01" src="https://cdn.shopify.com/s/files/1/0077/3953/9515/files/mbframethree_1.webp?v=1672725985"/>
         <div class="scranframe03_bgover"></div>
         <div class="scranframe03_text scranframe03_text_01">
           <div class="scranimation03_text_title">Maglev Motor</div>
           <div class="scranimation03_text_content">The Next Generation of Sonic Power</div>
         </div>
           <div class="scranframe03_text scranframe03_text_02">
           <div class="scranimation03_text_title">Zero Energy Loss</div>
           <div class="scranimation03_text_content">Concentrate the Energy Transfer to Brush Head</div>
         </div>
         <div class="scranframe03_text scranframe03_text_03">
           <div class="scranimation03_text_title">Up to 84,000</div>
           <div class="scranimation03_text_content">Movements/Min Frequency</div>
         </div>
         <div class="scranframe03_text scranframe03_text_04">
           <div class="scranimation03_text_title">Super Stable</div>
           <div class="scranimation03_text_content">The Next Generation of Sonic Power</div>
         </div>
         <div class="scranframe03_text scranframe03_text_05">
           <div class="scranimation03_texttwo_title">Missed Areas Instant Feedback</div>
           <div class="scranframe03_text_05_ct">
           <div class="scranimation03_texttwo_content">Supplementary Brushing in One Click</div>
           </div>
           <div class="scranframe03_text_06_ct">
           <div class="scranimation03_textthree_subtitle">Areas In Red</div>
           <div class="scranimation03_textthree_subtitle02">Not Fully Cleaned</div>
           <div class="scranimation03_textthree_subtitle">Brushing Score</div>
           <div class="scranimation03_textthree_subtitle02">From 0-100 Based on Your Brushing Behavior</div>
           </div>
           <div class="scranframe03_text_07_ct"> <div class="scranimation03_texttwo_content">No Misising of 8 brushing areas</div></div>
           
         </div>

         <div class="scranframe03_text scranframe03_text_08">
           <div class="scranimation03_textfour_title">Duo Brush Head Set*</div>
           <div class="scranimation03_textfour_content">Deeply Clean Hard to Reach Areas</div>
         </div>
         
         <div class="scranframe03_linemove scranframe03_linemove01">
           <div class="scranframe03_linemove-title">Plaque Control</div>
           <div class="line_move01"></div>
         </div>
         <div class="scranframe03_linemove scranframe03_linemove02">
           <div class="scranframe03_linemove-title">Delicate Clean</div>
           <div class="line_move01"></div>
         </div>

       </div>
    </div>
    
  </div>
  <div id="imgzhenshu_box" style="display:none">
{% for i in (1..30) -%}
   <img alt="frameone-{{ i }}" src="https://cdn.shopify.com/s/files/1/0077/3953/9515/files/mbframeone_{{ i }}.webp?v=1672712299"/>  
{%- endfor %}  
{% for i in (1..72) -%}
   <img alt="" src="https://cdn.shopify.com/s/files/1/0077/3953/9515/files/mbframethree_{{ i }}.webp?v=1672725985"/>  
{%- endfor %}  
    
</div>
    
</div> 
  <!--   End Mobile Design --> 
  
  
</div>  





  <script type="text/javascript">
        $(function(){

     if($(window).width() > 768){
       
   
      if( $(".scrollan_frame01_video")){
       $(".scrollan_frame01_video").trigger('play');
      $(".scrollan_frame01_video")[0].currentTime = 0;
       $(".scrollan_frame01_video").trigger('pause');
      }
        if( $(".scrollan_frame02_video")){
       $(".scrollan_frame02_video").trigger('play');
      }
    

            
     }         
        });
  </script> 


<script> 
    $(function(){

      var topvoff = 700*$(window).width()/1920;

    function unScroll() {
    var topval = $(window).scrollTop();

    $(document).on('scroll.unable',function (e) {
        $(document).scrollTop(topval);
    })
}
//移除禁止滚动条滚动
function removeUnScroll() {
    $(document).unbind("scroll.unable");
}
       setTimeout(function(){


       // console.log($(window).scrollTop());
       //  console.log(topvoff);
        unScroll();
       removeUnScroll(); 
       if($(window).scrollTop() < topvoff){
   
         $("body,html").animate({
         scrollTop:  topvoff +"px"
       },10);                 
         } 
         
        },1000);    
       // setTimeout(function(){
       //         unScroll();
       // removeUnScroll();  
  
       //  },2000);  
      
      if($(window).width() > 768){
        
        var controller = new ScrollMagic.Controller();
   var tweenmax_01 = new TimelineMax()
        .add([
          TweenMax.to(".cart-bottom-bar-container,#pc-site-header", 1, { className: "+=hideblock"}),
       ])
        .add([
        TweenMax.to("#scroll_anima_frame01", 2, {
                            onStart: function () {
                              // console.log("onStart");
                              if($(".scrollan_frame01_video")){
                                 $(".scrollan_frame01_video").trigger('play'); 
                                         unScroll();
                          // window.addEventListener('wheel', e => e.preventDefault(), { passive: false});
                         
         
                           // $('#scroll_anima_frame01').on('mousewheel', function(event) {
                           //     console.log(event.deltaX, event.deltaY, event.deltaFactor);
                           //      window.addEventListener('wheel', e => e.preventDefault(), { passive: false});
                           //    });
                                
                               var videoto01 = $(".scrollan_frame01_video")[0].duration ? Math.floor($(".scrollan_frame01_video")[0].duration)*1000 : 5001;
                                 // console.log(videoto01);
                                 // var time = 1000;
                               setTimeout(function(){ 
                                  $(".scani_frame01_text").addClass('showdowntotoptext');
                            
                                  }, videoto01); 
                                setTimeout(function(){                                 
                                 $(".scroll_frame01_imgs").addClass('active');    
                              removeUnScroll();
                                  
                                  }, videoto01 + 2000); 
                              }
                              
                            },
                            onReverseComplete: function () {
                               // console.log("onReverseComplete");
                                 $(".scrollan_frame01_video").trigger('pause'); 
                            $(".scrollan_frame01_video")[0].currentTime = 0;
                               $(".scani_frame01_text").removeClass('showdowntotoptext');
                             $(".scroll_frame01_imgs").removeClass('active');
                               
                            }}),
       ])
       .add([
         TweenMax.to(".footer-copyright", 1, {className: "+=animation_dets"}),            
       ])

     // break pointer02
       .add([
         
          TweenMax.to("#scroll_anima_frame01", 2, {opacity: "0"}),        
         TweenMax.to("#scroll_anima_frame02", 2, {opacity: "1",zIndex: "2"}),            
       ])
       .add([
         TweenMax.to(".scrollan_frame02bgbk", 4, {opacity: "0.4"}),
         TweenMax.to(".scani_frame02_content01", 4, {className: "+=protomiddle"}),
       ])

       .add([
          TweenMax.to(".scani_frame02_content01", 3, {className: "+=prototop"}),
          TweenMax.to(".scani_frame02_content02", 3, {className: "+=protomiddle"}),
       ])
       .add([
          TweenMax.to(".scani_frame02_content02", 3, {className: "+=prototop"}),
          TweenMax.to(".scani_frame02_content03", 3, {className: "+=protomiddle"}),
       ])
       .add([
          TweenMax.to(".scani_frame02_content03", 3, {className: "+=prototop"}),
          TweenMax.to(".scani_frame02_content04", 3, {className: "+=protomiddle"}),
       ])
       .add([
          TweenMax.to(".scani_frame02_content04", 3, {className: "+=prototop"}),
          TweenMax.to(".scani_frame02_content05", 3, {className: "+=protomiddle"}),
       ])
     // break pointer03
      .add([
         TweenMax.to(".footer-copyright", 1, {className: "+=animation_dets"}),            
       ])
     .add([
          TweenMax.to("#scroll_anima_frame02", 0.5, {opacity: "0",zIndex: "-1"}),
          TweenMax.to("#scroll_anima_frame03", 2, {opacity: "1",zIndex: "2"}),
       ])
       .add([
         TweenMax.to(".footer-copyright", 1, {className: "+=animation_dets"}),            
       ])
     .add([
          TweenMax.to(".scranframe03_bgover", 3, {opacity: "0"}),
       ])
        
      var arr= [];
      for(var i =1;i<213;i++){
        arr.push("https://cdn.shopifycdn.net/s/files/1/0077/3953/9515/files/pciframethree_"+i+".webp?v=1672907374");
        if(i == 50){
          arr.push("https://cdn.shopify.com/s/files/1/0077/3953/9515/files/9_0138050_19_2.gif?v=1672903095");
          arr.push("https://cdn.shopify.com/s/files/1/0077/3953/9515/files/9_0138050_19_2.gif?v=1672903095");
          arr.push("https://cdn.shopify.com/s/files/1/0077/3953/9515/files/9_0138050_19_2.gif?v=1672903095");
          arr.push("https://cdn.shopify.com/s/files/1/0077/3953/9515/files/9_0138050_19_2.gif?v=1672903095");
          arr.push("https://cdn.shopify.com/s/files/1/0077/3953/9515/files/9_0138050_19_2.gif?v=1672903095");
          arr.push("https://cdn.shopify.com/s/files/1/0077/3953/9515/files/9_0138050_19_2.gif?v=1672903095");
          arr.push("https://cdn.shopify.com/s/files/1/0077/3953/9515/files/9_0138050_19_2.gif?v=1672903095");
          arr.push("https://cdn.shopify.com/s/files/1/0077/3953/9515/files/9_0138050_19_2.gif?v=1672903095");
          arr.push("https://cdn.shopify.com/s/files/1/0077/3953/9515/files/9_0138050_19_2.gif?v=1672903095");
           arr.push("https://cdn.shopify.com/s/files/1/0077/3953/9515/files/9_0138050_19_2.gif?v=1672903095");
          arr.push("https://cdn.shopify.com/s/files/1/0077/3953/9515/files/9_0138050_19_2.gif?v=1672903095");
          arr.push("https://cdn.shopify.com/s/files/1/0077/3953/9515/files/9_0138050_19_2.gif?v=1672903095");
          arr.push("https://cdn.shopify.com/s/files/1/0077/3953/9515/files/9_0138050_19_2.gif?v=1672903095");
          arr.push("https://cdn.shopify.com/s/files/1/0077/3953/9515/files/9_0138050_19_2.gif?v=1672903095");
          arr.push("https://cdn.shopify.com/s/files/1/0077/3953/9515/files/9_0138050_19_2.gif?v=1672903095");
          arr.push("https://cdn.shopify.com/s/files/1/0077/3953/9515/files/9_0138050_19_2.gif?v=1672903095");
        }
      };
   
      var images = arr;
 
      // TweenMax can tween any property of any object. We use this object to cycle through the array
      var obj = {curImg: 0};

      // create tween
      var tweenmax_02 = new TimelineMax()
        .add([
          TweenMax.to(obj, 20,
                                   {
        curImg: images.length - 1,	// animate propery curImg to number of images
        roundProps: "curImg",				// only integers so it can be used as an array index
        repeat: 0,									// repeat 3 times
        immediateRender: true,			// load first image automatically
        ease: Linear.easeNone,			// show every image the same ammount of time
        onUpdate: function () {
             console.log(obj.curImg);
            if(obj.curImg > 51 && obj.curImg <= 64){
              // console.log("in");
            }else{
             $(".frame03-img01").attr("src", images[obj.curImg]); // set the image source
            }
   
           if(obj.curImg > 1 ){
            $(".scranframe03_text_01").addClass("protomiddle03");
          }else{
              $(".scranframe03_text_01").removeClass("protomiddle03");
          }
          
           if(obj.curImg >= 20 ){
            $(".scranframe03_text_01").addClass("prototop03");
            $(".scranframe03_text_02").addClass("protomiddle03");
          }else{
          $(".scranframe03_text_01").removeClass("prototop03");
            $(".scranframe03_text_02").removeClass("protomiddle03");
          }
           if(obj.curImg >= 40){
          $(".scranframe03_text_02").addClass("prototop03");
            $(".scranframe03_text_03").addClass("protomiddle03");
          }else{
          $(".scranframe03_text_02").removeClass("prototop03");
            $(".scranframe03_text_03").removeClass("protomiddle03");
          }
          
          if(obj.curImg >= 60){
          $(".scranframe03_text_03").addClass("prototop03");
            $(".scranframe03_text_04").addClass("protomiddle03");
          }else{
          $(".scranframe03_text_03").removeClass("prototop03");
            $(".scranframe03_text_04").removeClass("protomiddle03");
          }
          
         if(obj.curImg >= 120){
          $(".scranframe03_text_04").addClass("prototop03");
            $(".scranframe03_text_05").addClass("protomiddle03");
          }else{
          $(".scranframe03_text_04").removeClass("prototop03");
            $(".scranframe03_text_05").removeClass("protomiddle03");
          }
          
          if(obj.curImg >= 145){
          $(".scranframe03_text_05_ct").addClass("opchideframe03");
            $(".scranframe03_text_06_ct").addClass("opcshowframe03");
          }else{
          $(".scranframe03_text_05_ct").removeClass("opchideframe03");
            $(".scranframe03_text_06_ct").removeClass("opcshowframe03");
          }
          
          if(obj.curImg >= 176){
          $(".scranframe03_text_06_ct").addClass("opchideframe03");
            $(".scranframe03_text_07_ct").addClass("opcshowframe03");
          }else{
          $(".scranframe03_text_06_ct").removeClass("opchideframe03");
            $(".scranframe03_text_07_ct").removeClass("opcshowframe03");
          }
          if(obj.curImg >= 205){
          $(".scranframe03_text_05").addClass("prototop03");
            $(".scranframe03_text_08").addClass("protomiddle03");
          }else{
          $(".scranframe03_text_05").removeClass("prototop03");
            $(".scranframe03_text_08").removeClass("protomiddle03");
          }
          if(obj.curImg > 226){
            $(".jsondonghuabox02").addClass("active");
            $(".jsondonghuabox02>img").attr("src","https://cdn.shopify.com/s/files/1/0077/3953/9515/files/1100-00.gif?v=1673250089");
            setTimeout(function(){                                 
           $(".scranframe03_linemove").addClass("active");
            $(".jsondonghuabox02").removeClass("active");                      
             }, 1500); 
         
          }else{
          $(".scranframe03_linemove").removeClass("active");
            $(".jsondonghuabox02").removeClass("active");
          }           
        }
                          
      }
        )
      ])
        .add([
         TweenMax.to(".footer-copyright", 1, {className: "+=animation_dets"}),            
       ]);
         
    
      
        
      
         var beishu_nine = $(window).width()/1920;
          
          var n_beshu = beishu_nine*480; //偏移量
          
          var offsetho = 800;  //滚动快慢
          
        
          
     $(window).resize(function() {
         var beishu_nine = $(window).width()/1920;
          
          var n_beshu = beishu_nine*480;
          
   
});
      
      
       new ScrollMagic.Scene({triggerElement: "#scroll_anima_container", duration: offsetho*12,offset: n_beshu})
        .setTween(tweenmax_01)
//       .setClassToggle("#shopify-section-header","header_bo")
		.setPin("#scroll_anima_container")
         .on("enter", function(e) {
        })
        .on("leave", function(e) {
          
        })
        .addTo(controller); 
        
       new ScrollMagic.Scene({triggerElement: "#scroll_anima_container", duration: offsetho*25,offset: offsetho*12 + n_beshu})
        .setTween(tweenmax_02)
//       .setClassToggle("#shopify-section-header","header_bo")
		.setPin("#scroll_anima_container")
         .on("enter", function(e) {
        })
        .on("leave", function(e) {
          
        })
        .addTo(controller); 
 
        
      }else{

        // mb768
        
     var controller = new ScrollMagic.Controller();
        
      var arr02= [];
      for(var i =1;i<30;i++){
        arr02.push("https://cdn.shopify.com/s/files/1/0077/3953/9515/files/mbframeone_"+i+".webp?v=1672712299");        
      };
   
      var images02 = arr02;

      // TweenMax can tween any property of any object. We use this object to cycle through the array
      var obj02 = {curImg: 0};
   var tweenmax_01 = new TimelineMax()
         .add([
         TweenMax.to(".footer-copyright", 2, {className: "+=animation_dets"}),            
       ])
        .add([
          TweenMax.to(".cart-bottom-bar-container,#pc-site-header", 1, { className: "+=hideblock"}),
       ])
        .add([
          TweenMax.to(".scani_frame01_text", 2, { bottom: "2%",opacity: "1"}),
       ])
       .add([
        TweenMax.to(obj02, 25,
                                   {
        curImg: images02.length - 1,	// animate propery curImg to number of images
        roundProps: "curImg",				// only integers so it can be used as an array index
        repeat: 0,									// repeat 3 times
        immediateRender: true,			// load first image automatically
        ease: Linear.easeNone,			// show every image the same ammount of time
        onUpdate: function () {

          $(".mbanima_frame01_img").attr("src", images02[obj02.curImg]); // set the image source
          if(obj02.curImg >= 20 && obj02.curImg < 23 ){
            
          }         
        }
                          
      }
        )
      ])


     // break pointer02
       .add([
         
          TweenMax.to("#scroll_anima_frame01", 2, {opacity: "0"}),        
         TweenMax.to("#scroll_anima_frame02", 2, {opacity: "1",zIndex: "2"}),            
       ])
       .add([
         TweenMax.to(".scrollan_frame02bgbk", 4, {opacity: "0.4"}),
         TweenMax.to(".scani_frame02_content01", 4, {className: "+=protomiddle"}),
       ])

       .add([
          TweenMax.to(".scani_frame02_content01", 3, {className: "+=prototop"}),
          TweenMax.to(".scani_frame02_content02", 3, {className: "+=protomiddle"}),
       ])
       .add([
          TweenMax.to(".scani_frame02_content02", 3, {className: "+=prototop"}),
          TweenMax.to(".scani_frame02_content03", 3, {className: "+=protomiddle"}),
       ])
       .add([
          TweenMax.to(".scani_frame02_content03", 3, {className: "+=prototop"}),
          TweenMax.to(".scani_frame02_content04", 3, {className: "+=protomiddle"}),
       ])
       .add([
          TweenMax.to(".scani_frame02_content04", 3, {className: "+=prototop"}),
          TweenMax.to(".scani_frame02_content05", 3, {className: "+=protomiddle"}),
       ])
     // break pointer03
      .add([
         TweenMax.to(".footer-copyright", 1, {className: "+=animation_dets"}),            
       ])
     .add([
          TweenMax.to("#scroll_anima_frame02", 0.5, {opacity: "0",zIndex: "-1"}),
          TweenMax.to("#scroll_anima_frame03", 2, {opacity: "1",zIndex: "2"}),
       ])
       .add([
         TweenMax.to(".footer-copyright", 1, {className: "+=animation_dets"}),            
       ])
     .add([
          TweenMax.to(".scranframe03_bgover", 3, {opacity: "0"}),
       ])
     .add([
          TweenMax.to(".scranframe03_text_01", 2, {className: "+=protomiddle03"}),
       ]);
        
      var arr= [];
      for(var i =1;i<73;i++){
        arr.push("https://cdn.shopify.com/s/files/1/0077/3953/9515/files/mbframethree_"+i+".webp?v=1672725985");        
      };
   
      var images = arr;

      // TweenMax can tween any property of any object. We use this object to cycle through the array
      var obj = {curImg: 0};

      // create tween
      var tweenmax_02 = new TimelineMax()
        .add([
          TweenMax.to(obj, 20,
                                   {
        curImg: images.length - 1,	// animate propery curImg to number of images
        roundProps: "curImg",				// only integers so it can be used as an array index
        repeat: 0,									// repeat 3 times
        immediateRender: true,			// load first image automatically
        ease: Linear.easeNone,			// show every image the same ammount of time
        onUpdate: function () {

          $(".frame03-img01").attr("src", images[obj.curImg]); // set the image source
                 if(obj.curImg >= 10 && obj.curImg < 12 ){
            $(".scranframe03_text_01").addClass("prototop03");
            $(".scranframe03_text_02").addClass("protomiddle03");
          }else if(obj.curImg < 7 && obj.curImg <= 9){
          $(".scranframe03_text_01").removeClass("prototop03");
            $(".scranframe03_text_02").removeClass("protomiddle03");
          }else if(obj.curImg >= 20 && obj.curImg < 22){
          $(".scranframe03_text_02").addClass("prototop03");
            $(".scranframe03_text_03").addClass("protomiddle03");
          }else if(obj.curImg < 17 && obj.curImg <= 19){
          $(".scranframe03_text_02").removeClass("prototop03");
            $(".scranframe03_text_03").removeClass("protomiddle03");
          }else if(obj.curImg >= 30 && obj.curImg < 32){
          $(".scranframe03_text_03").addClass("prototop03");
            $(".scranframe03_text_04").addClass("protomiddle03");
          }else if(obj.curImg < 27 && obj.curImg <= 29){
          $(".scranframe03_text_03").removeClass("prototop03");
            $(".scranframe03_text_04").removeClass("protomiddle03");
          }else if(obj.curImg >= 40 && obj.curImg < 42){
          $(".scranframe03_text_04").addClass("prototop03");
            $(".scranframe03_text_05").addClass("protomiddle03");
          }else if(obj.curImg < 37 && obj.curImg <= 39){
          $(".scranframe03_text_04").removeClass("prototop03");
            $(".scranframe03_text_05").removeClass("protomiddle03");
          }else if(obj.curImg >= 50 && obj.curImg < 52){
          $(".scranframe03_text_05_ct").addClass("opchideframe03");
            $(".scranframe03_text_06_ct").addClass("opcshowframe03");
          }else if(obj.curImg < 47 && obj.curImg <= 49){
          $(".scranframe03_text_05_ct").removeClass("opchideframe03");
            $(".scranframe03_text_06_ct").removeClass("opcshowframe03");
          }else if(obj.curImg >= 60 && obj.curImg < 62){
          $(".scranframe03_text_06_ct").addClass("opchideframe03");
            $(".scranframe03_text_07_ct").addClass("opcshowframe03");
          }else if(obj.curImg < 57 && obj.curImg <= 59){
          $(".scranframe03_text_06_ct").removeClass("opchideframe03");
            $(".scranframe03_text_07_ct").removeClass("opcshowframe03");
          }else if(obj.curImg >= 65 && obj.curImg < 66){
          $(".scranframe03_text_05").addClass("prototop03");
            $(".scranframe03_text_08").addClass("protomiddle03");
          }else if(obj.curImg < 62 && obj.curImg <= 64){
          $(".scranframe03_text_05").removeClass("prototop03");
            $(".scranframe03_text_08").removeClass("protomiddle03");
          }else if(obj.curImg >= 70 && obj.curImg < 72){
          $(".scranframe03_linemove").addClass("active");
          }else if(obj.curImg < 67 && obj.curImg <= 69){
          $(".scranframe03_linemove").removeClass("active");
          }           
        }
                          
      }
        )
      ])
        .add([
         TweenMax.to(".footer-copyright", 1, {className: "+=animation_dets"}),            
       ]);
         
    
      
        
      
         var beishu_nine = $(window).width()/1920;
          
          var n_beshu = beishu_nine*1600; //偏移量
          
          var offsetho = 800;  //滚动快慢
          
        
          
     $(window).resize(function() {
         var beishu_nine = $(window).width()/1920;
          
          var n_beshu = beishu_nine*480;
          
   
});
      
      
       new ScrollMagic.Scene({triggerElement: "#scroll_anima_container", duration: offsetho*12,offset: n_beshu})
        .setTween(tweenmax_01)
//       .setClassToggle("#shopify-section-header","header_bo")
		.setPin("#scroll_anima_container")
         .on("enter", function(e) {
        })
        .on("leave", function(e) {
          
        })
        .addTo(controller); 
        
       new ScrollMagic.Scene({triggerElement: "#scroll_anima_container", duration: offsetho*15,offset: offsetho*12 + n_beshu})
        .setTween(tweenmax_02)
//       .setClassToggle("#shopify-section-header","header_bo")
		.setPin("#scroll_anima_container")
         .on("enter", function(e) {
        })
        .on("leave", function(e) {
          
        })
        .addTo(controller); 
          
    

        
      }
      
      
      
      
    });
            
    
</script>
  

  
  <script type="text/javascript">
    var vmslide = new  Vue({
      el:"#v-box_scroll",
//       data:{
//       },
      methods:{
       
        pcSeenslidemo: function(){
          if (screen.width > 768){
          return true
          }else {
          return false
          }
        },
        mobileSeenslidemo: function(){
          if (screen.width <= 768){
          return true
          }else {
          return false
          }
        }
      }
    
    });
  </script> 

<script>        
  var myfirstframe01 = new Swiper ('.swiper_firstframe', {
    loop: true,
    autoplay: {
    delay: 2000,
    stopOnLastSlide: false,
    disableOnInteraction: false,
    },
    effect: 'fade',
  }) 
  
  // var swiper_statecg = new Swiper ('.swiper_statecg', {
  //   loop: true,
  //   autoplay: {
  //   delay: 2000,
  //   stopOnLastSlide: false,
  //   disableOnInteraction: false,
  //   },
  //   effect: 'fade',
  // }) 
  
</script>


{% schema %}
  {
    "name": "scroll_animation",
    "settings": [
      {
        "type": "image_picker",
        "id": "image10gif_mb",
        "label": "image10gif(Mobile)"
      }
    ],
    "blocks": [

    ],
    "presets": [
      {
        "name": "scroll_animation",
        "category": "Advance_ho"
      }
    ]
  }
{% endschema %}
